# Example external service for egress
apiVersion: v1
kind: Service
metadata:
  name: httpbin
spec:
  type: ExternalName
  externalName: httpbin.org
  ports:
  - port: 80
    name: http
---
apiVersion: v1
kind: Service
metadata:
  name: istio-egress
spec:
  ports:
  - port: 80
    name: "80"
  selector:
    app: istio-egress
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: istio-egress
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: istio-egress
    spec:
      containers:
      - name: proxy
        image: {{.hub}}/proxy:{{.tag}}
        imagePullPolicy: Always
        args: ["proxy", "egress", "-v", "{{.verbosity}}"]
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
---
