# Kubernetes set-up
apiVersion: v1
kind: Service
metadata:
  name: {{.name}}
  labels:
    app: {{.name}}
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: {{.port1}}
    name: http
  - port: 8080
    targetPort: {{.port2}}
    name: http-alternative
  selector:
    app: {{.name}}
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{.name}}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: {{.name}}
      annotations:
        pod.beta.kubernetes.io/init-containers: >
          [{
            "name": "iptables",
            "image": "{{.hub}}/init:{{.tag}}",
            "imagePullPolicy": "Always",
            "securityContext": { "capabilities" : { "add" : ["NET_ADMIN"] } }
          }]
    spec:
      containers:
      - name: app
        image: {{.hub}}/app:{{.tag}}
        args:
          - --port
          - "{{.port1}}"
          - --port
          - "{{.port2}}"
        ports:
        - containerPort: {{.port1}}
        - containerPort: {{.port2}}
      - name: proxy
        image: {{.hub}}/runtime:{{.tag}}
        securityContext:
          runAsUser: 1337
        args:
          - proxy
          - -s
          - manager:8080
          - --logtostderr
          - -v
          - "2"
        imagePullPolicy: Always
---
