# Kubernetes set-up
apiVersion: v1
kind: Service
metadata:
  name: $NAME
  labels:
    app: $NAME
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: $PORT
    name: http
  selector:
    app: $NAME
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: $NAME
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: $NAME
      annotations:
        pod.beta.kubernetes.io/init-containers: >
          [{
            "name": "iptables",
            "image": "gcr.io/istio-test/init:test",
            "imagePullPolicy": "Always",
            "securityContext": {
              "privileged": true
            },
            "command": ["/bin/sh", "-c",
              "sudo iptables -t nat -A PREROUTING -p tcp -j REDIRECT --to-port 5001; sudo iptables -t nat -A OUTPUT -p tcp -j REDIRECT --to-port 5001 -m owner '!' --uid-owner 1337; sudo iptables -t nat --list"
            ]
          }]
    spec:
      containers:
      - name: echo
        image: gcr.io/google_containers/echoserver:1.4
        ports:
        - containerPort: $PORT
      - name: proxy
        image: gcr.io/istio-test/runtime:$TAG
        securityContext:
          runAsUser: 1337
        args:
          - proxy
          - -s
          - m:8080
          - --logtostderr
          - -v
          - "2"
          - -p
          - "5001"
          - -n
          - default
          - -b
          - "/envoy_esp"
        imagePullPolicy: Always
---
