apiVersion: v1
kind: Service
metadata:
  name: istio-ingress-controller
  labels:
    app: ingress
spec:
  ports:
  - name: https
    port: 443
  - name: http
    port: 80
  selector:
    app: ingress
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: istio-ingress-controller
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: ingress
    spec:
      containers:
      - name: proxy
        image: {{.hub}}/proxy:{{.tag}}
        args: ["proxy", "ingress", "-s", "istio-manager:8080", "-v", "2", "-n", "{{.namespace}}", "--secret", "ingress"]
        imagePullPolicy: Always
        ports:
        - containerPort: 443
        - containerPort: 80
