apiVersion: v1
kind: Service
metadata:
  name: ingress
  labels:
    infra: ingress
spec:
  ports:
  - name: https
    port: 443
  - name: http
    port: 80
  selector:
    infra: ingress
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: ingress
spec:
  replicas: 1
  template:
    metadata:
      labels:
        infra: ingress
    spec:
      containers:
      - name: ingress
        image: {{.hub}}/runtime:{{.tag}}
        args: ["proxy", "ingress", "-s", "manager:8080", "-v", "2", "-n", "{{.namespace}}", "--secret", "ingress"]
        imagePullPolicy: Always
        ports:
        - containerPort: 443
        - containerPort: 80
      - name: debug
        image: docker.io/istio/debug:test
        imagePullPolicy: Always
        securityContext:
            privileged: true