apiVersion: v1
kind: Service
metadata:
  name: istio-ingress-controller
  labels:
    app: ingress
spec:
  ports:
  - name: https
    port: 443
  - name: http
    port: 80
  selector:
    app: ingress
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: istio-ingress-controller
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: ingress
    spec:
      containers:
      - name: proxy
        image: {{.hub}}/proxy:{{.tag}}
        args: ["proxy", "ingress", "-v", "{{.verbosity}}", "--secret", "ingress"]
        imagePullPolicy: Always
        ports:
        - containerPort: 443
        - containerPort: 80
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
