# Test service without the proxy
apiVersion: v1
kind: Service
metadata:
  name: t
  labels:
    app: t
spec:
  ports:
  - port: 80
    name: http
  - port: 8080
    name: http-alternative
  selector:
    app: t
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: t
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: t
    spec:
      containers:
      - name: app
        image: {{.hub}}/app:{{.tag}}
        args:
          - --port
          - "80"
          - --port
          - "8080"
        ports:
        - containerPort: 80
        - containerPort: 8080
---
# Manager service for discovery
apiVersion: v1
kind: Service
metadata:
  name: manager
  labels:
    infra: manager
spec:
  ports:
  - port: 8080
    name: http-discovery
  selector:
    infra: manager
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: manager
spec:
  replicas: 1
  template:
    metadata:
      labels:
        infra: manager
    spec:
      containers:
      - name: manager
        image: {{.hub}}/runtime:{{.tag}}
        args: ["discovery", "--logtostderr", "-v", "2"]
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
---
