apiVersion: v1
kind: Service
metadata:
  name: t
  labels:
    app: t
spec:
  type: NodePort
  ports:
  - port: 80
    targetPort: 8080
    name: http
  selector:
    app: t
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: t
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: t
    spec:
      containers:
      - name: app
        image: {{.hub}}/app:{{.tag}}
        ports:
        - containerPort: 8080
---
apiVersion: v1
kind: Service
metadata:
  name: manager
  labels:
    app: manager
spec:
  ports:
  - port: 8080
    name: http-discovery
  selector:
    app: manager
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: manager
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: manager
    spec:
      containers:
      - name: manager
        image: {{.hub}}/runtime:{{.tag}}
        args: ["server", "--logtostderr", "-v", "2"]
        imagePullPolicy: Always
        ports:
        - containerPort: 8080
---
