# Manager service for discovery
apiVersion: v1
kind: Service
metadata:
  name: istio-manager
  labels:
    infra: manager
spec:
  ports:
  - port: 8080
    name: http-discovery
  selector:
    infra: manager
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: istio-manager
spec:
  replicas: 1
  template:
    metadata:
      labels:
        infra: manager
    spec:
      containers:
      - name: manager
        image: {{.hub}}/manager:{{.tag}}
        imagePullPolicy: Always
        args: ["discovery", "-v", "{{.verbosity}}", "-n", "{{.namespace}}", "-m", "mixer:9091"]
        ports:
        - containerPort: 8080
---
