---
apiVersion: v1
kind: ConfigMap
metadata:
  name: mixer-config
data:
  globalconfig.yml: |-
    subject: "namespace:ns"
    revision: "2022"
    adapters:
  serviceconfig.yml: |-
    subject: namespace:ns
    revision: "2022"
    rules:
    - selector: true
      aspects:
---
# Mixer
apiVersion: v1
kind: Service
metadata:
  name: istio-mixer
  labels:
    app: mixer
spec:
  ports:
  - name: tcp
    port: 9091
  - name: prometheus
    port: 42422
  selector:
    app: mixer
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: istio-mixer
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: mixer
    spec:
      containers:
      - name: mixer
        image: {{.mixerImage}}
        imagePullPolicy: Always
        ports:
        - containerPort: 9091
        - containerPort: 42422
        args:
          - --globalConfigFile=/etc/opt/mixer/globalconfig.yml
          - --serviceConfigFile=/etc/opt/mixer/serviceconfig.yml
          - --logtostderr
          - -v
          - "3"
        volumeMounts:
          - mountPath: /etc/opt/mixer
            name: config
      volumes:
        - name: config
          configMap:
            name: mixer-config
---
