destination: {{.destination}}.{{.namespace}}.svc.cluster.local
precedence: 3
match:
  source: {{.source}}.{{.namespace}}.svc.cluster.local
  source_tags:
    version: v1
  httpHeaders:
    version:
      exact: v2
route:
  - tags:
       version: v2
http_fault:
  delay:
    percent: 100
    fixed_delay_seconds: 5
  abort:
    percent: 100
    http_status: 503
