destination: {{.destination}}.{{.namespace}}.svc.cluster.local
precedence: 2
match:
  source: {{.source}}.{{.namespace}}.svc.cluster.local
  source_tags:
    version: v1
  http:
    version:
      exact: v2
route:
  - tags:
       version: v2
