---
title: Report Nothing
description: A template that carries no data, useful for testing.
location: https://istio.io/docs/reference/config/policy-and-telemetry/templates/reportnothing.html
layout: protoc-gen-docs
generator: protoc-gen-docs
aliases:
  - /docs/reference/config/template/reportnothing.html
number_of_entries: 1
---
<p>The <code>reportnothing</code> template represents an empty block of data, which can useful
in different testing scenarios.</p>

<p>Example config:</p>

<p><code>yaml
apiVersion: &quot;config.istio.io/v1alpha2&quot;
kind: reportnothing
metadata:
  name: reportrequest
  namespace: istio-system
spec:
</code></p>

<h2 id="Template">Template</h2>
<section>
<p>ReportNothing represents an empty block of data that is used for Report-capable
adapters which don&rsquo;t require any parameters. This is primarily intended for testing
scenarios.</p>

</section>
