---
title: sampleQuota
layout: protoc-gen-docs
generator: protoc-gen-docs
number_of_entries: 1
---
<h2 id="Template">Template</h2>
<section>
<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
<th>Required</th>
</tr>
</thead>
<tbody>
<tr id="Template-dimensions">
<td><code>dimensions</code></td>
<td><code>map&lt;string,&nbsp;<a href="https://istio.io/docs/reference/config/policy-and-telemetry/istio.policy.v1beta1.html#Value">Value</a>&gt;</code></td>
<td>
<p>The unique identity of the particular quota to manipulate.</p>

</td>
<td>
No
</td>
</tr>
</tbody>
</table>
</section>
