---
title: Trace Span
description: A template that represents\ an individual span within a distributed trace.
location: https://istio.io/docs/reference/config/policy-and-telemetry/templates/tracespan.html
layout: protoc-gen-docs
generator: protoc-gen-docs
number_of_entries: 3
---
<p>The <code>tracespan</code> template represents an individual span within a distributed trace.</p>

<p>Example config:</p>

<pre><code class="language-yaml">apiVersion: &quot;config.istio.io/v1alpha2&quot;
kind: tracespan
metadata:
  name: default
  namespace: istio-system
spec:
  traceId: request.headers[&quot;x-b3-traceid&quot;]
  spanId: request.headers[&quot;x-b3-spanid&quot;] | &quot;&quot;
  parentSpanId: request.headers[&quot;x-b3-parentspanid&quot;] | &quot;&quot;
  spanName: request.path | &quot;/&quot;
  startTime: request.time
  endTime: response.time
  spanTags:
    http.method: request.method | &quot;&quot;
    http.status_code: response.code | 200
    http.url: request.path | &quot;&quot;
    request.size: request.size | 0
    response.size: response.size | 0
    source.ip: source.ip | ip(&quot;0.0.0.0&quot;)
    source.service: source.service | &quot;&quot;
    source.user: source.user | &quot;&quot;
    source.version: source.labels[&quot;version&quot;] | &quot;&quot;
</code></pre>

<p>See also: <a href="https://istio.io/docs/tasks/telemetry/distributed-tracing/">Distributed Tracing</a>
for information on tracing within Istio.</p>

<h2 id="Template">Template</h2>
<section>
<p>TraceSpan represents an individual span within a distributed trace.</p>

<p>When writing the configuration, the value for the fields associated with this template can either be a
literal or an <a href="https://istio.io/docs/reference//config/policy-and-telemetry/expression-language/">expression</a>. Please note that if the datatype of a field is not istio.policy.v1beta1.Value,
then the expression&rsquo;s <a href="https://istio.io/docs/reference//config/policy-and-telemetry/expression-language/#type-checking">inferred type</a> must match the datatype of the field.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="Template-trace_id">
<td><code>traceId</code></td>
<td><code>string</code></td>
<td>
<p>Trace ID is the unique identifier for a trace. All spans from the same
trace share the same Trace ID.</p>

<p>Required.</p>

</td>
</tr>
<tr id="Template-span_id">
<td><code>spanId</code></td>
<td><code>string</code></td>
<td>
<p>Span ID is the unique identifier for a span within a trace. It is assigned
when the span is created.</p>

<p>Optional.</p>

</td>
</tr>
<tr id="Template-parent_span_id">
<td><code>parentSpanId</code></td>
<td><code>string</code></td>
<td>
<p>Parent Span ID is the unique identifier for a parent span of this span
instance. If this is a root span, then this field MUST be empty.</p>

<p>Optional.</p>

</td>
</tr>
<tr id="Template-span_name">
<td><code>spanName</code></td>
<td><code>string</code></td>
<td>
<p>Span name is a description of the span&rsquo;s operation.</p>

<p>For example, the name can be a qualified method name or a file name
and a line number where the operation is called. A best practice is to use
the same display name within an application and at the same call point.
This makes it easier to correlate spans in different traces.</p>

<p>Required.</p>

</td>
</tr>
<tr id="Template-start_time">
<td><code>startTime</code></td>
<td><code><a href="#istio-policy-v1beta1-TimeStamp">istio.policy.v1beta1.TimeStamp</a></code></td>
<td>
<p>The start time of the span.</p>

<p>Required.</p>

</td>
</tr>
<tr id="Template-end_time">
<td><code>endTime</code></td>
<td><code><a href="#istio-policy-v1beta1-TimeStamp">istio.policy.v1beta1.TimeStamp</a></code></td>
<td>
<p>The end time of the span.</p>

<p>Required.</p>

</td>
</tr>
<tr id="Template-span_tags">
<td><code>spanTags</code></td>
<td><code>map&lt;string,&nbsp;<a href="#istio-policy-v1beta1-Value">istio.policy.v1beta1.Value</a>&gt;</code></td>
<td>
<p>Span tags are a set of &lt; key, value &gt; pairs that provide metadata for the
entire span. The values can be specified in the form of expressions.</p>

<p>Optional.</p>

</td>
</tr>
<tr id="Template-httpStatusCode">
<td><code>httpStatusCode</code></td>
<td><code>int64</code></td>
<td>
<p>HTTP status code used to set the span status. If unset or set to 0, the
span status will be assumed to be successful.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h2 id="istio-policy-v1beta1-TimeStamp">istio.policy.v1beta1.TimeStamp</h2>
<section>
<p>An instance field of type TimeStamp denotes that the expression for the field must evalaute to
<em>ValueType.TIMESTAMP</em></p>

<p>Objects of type TimeStamp are also passed to the adapters during request-time for the instance fields of
type TimeStamp</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="istio-policy-v1beta1-TimeStamp-value">
<td><code>value</code></td>
<td><code><a href="https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#timestamp">google.protobuf.Timestamp</a></code></td>
<td>
<p>TimeStamp encoded as google.protobuf.Timestamp.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h2 id="istio-policy-v1beta1-Value">istio.policy.v1beta1.Value</h2>
<section>
<p>An instance field of type Value denotes that the expression for the field is of dynamic type and can evalaute to any
<em>ValueType</em> enum values. For example, when
authoring an instance configuration for a template that has a field <code>data</code> of type <code>istio.policy.v1beta1.Value</code>,
both of the following expressions are valid <code>data: source.ip | ip(&quot;0.0.0.0&quot;)</code>, <code>data: request.id | &quot;&quot;</code>;
the resulting type is either ValueType.IP_ADDRESS or ValueType.STRING for the two cases respectively.</p>

<p>Objects of type Value are also passed to the adapters during request-time. There is a 1:1 mapping between
oneof fields in <code>Value</code> and enum values inside <code>ValueType</code>. Depending on the expression&rsquo;s evaluated <code>ValueType</code>,
the equivalent oneof field in <code>Value</code> is populated by Mixer and passed to the adapters.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="istio-policy-v1beta1-Value-string_value" class="oneof oneof-start">
<td><code>stringValue</code></td>
<td><code>string (oneof)</code></td>
<td>
<p>Used for values of type STRING</p>

</td>
</tr>
<tr id="istio-policy-v1beta1-Value-int64_value" class="oneof">
<td><code>int64Value</code></td>
<td><code>int64 (oneof)</code></td>
<td>
<p>Used for values of type INT64</p>

</td>
</tr>
<tr id="istio-policy-v1beta1-Value-double_value" class="oneof">
<td><code>doubleValue</code></td>
<td><code>double (oneof)</code></td>
<td>
<p>Used for values of type DOUBLE</p>

</td>
</tr>
<tr id="istio-policy-v1beta1-Value-bool_value" class="oneof">
<td><code>boolValue</code></td>
<td><code>bool (oneof)</code></td>
<td>
<p>Used for values of type BOOL</p>

</td>
</tr>
<tr id="istio-policy-v1beta1-Value-ip_address_value" class="oneof">
<td><code>ipAddressValue</code></td>
<td><code><a href="#istio-policy-v1beta1-IPAddress">istio.policy.v1beta1.IPAddress (oneof)</a></code></td>
<td>
<p>Used for values of type IPAddress</p>

</td>
</tr>
<tr id="istio-policy-v1beta1-Value-timestamp_value" class="oneof">
<td><code>timestampValue</code></td>
<td><code><a href="#istio-policy-v1beta1-TimeStamp">istio.policy.v1beta1.TimeStamp (oneof)</a></code></td>
<td>
<p>Used for values of type TIMESTAMP</p>

</td>
</tr>
<tr id="istio-policy-v1beta1-Value-duration_value" class="oneof">
<td><code>durationValue</code></td>
<td><code><a href="#istio-policy-v1beta1-Duration">istio.policy.v1beta1.Duration (oneof)</a></code></td>
<td>
<p>Used for values of type DURATION</p>

</td>
</tr>
<tr id="istio-policy-v1beta1-Value-email_address_value" class="oneof">
<td><code>emailAddressValue</code></td>
<td><code><a href="#istio-policy-v1beta1-EmailAddress">istio.policy.v1beta1.EmailAddress (oneof)</a></code></td>
<td>
<p>Used for values of type EmailAddress</p>

</td>
</tr>
<tr id="istio-policy-v1beta1-Value-dns_name_value" class="oneof">
<td><code>dnsNameValue</code></td>
<td><code><a href="#istio-policy-v1beta1-DNSName">istio.policy.v1beta1.DNSName (oneof)</a></code></td>
<td>
<p>Used for values of type DNSName</p>

</td>
</tr>
<tr id="istio-policy-v1beta1-Value-uri_value" class="oneof">
<td><code>uriValue</code></td>
<td><code><a href="#istio-policy-v1beta1-Uri">istio.policy.v1beta1.Uri (oneof)</a></code></td>
<td>
<p>Used for values of type Uri</p>

</td>
</tr>
</tbody>
</table>
</section>
