apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: {{ .To.ServiceName }}
spec:
  selector:
    matchLabels:
      "app": "{{ .To.ServiceName }}"
  action: DENY
  rules:
    - to:
        - operation: # HTTP L7 only rule
            methods: [ "GET" ]
    - to:
        - operation: # HTTP and TCP
            methods: [ "GET" ]
            ports: [ "9000" ]
