# The following policy denies request from service account a and namespace 2 for workload d

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: policy-tcp-deny-3
  namespace: "{{ .Namespace }}"
spec:
  selector:
    matchLabels:
      "app": "{{ .dst }}"
  action: DENY
  rules:
  - from:
    - source:
        principals: ["cluster.local/ns/{{ .Namespace }}/sa/{{ .src }}"]
    - source:
        namespaces: ["{{ .Namespace2 }}"]
---
