# The following policy denies:
# request to port 8094 with principal suffix matching

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: policy-tcp-deny-5
  namespace: "{{ .Namespace }}"
spec:
  selector:
    matchLabels:
      "app": "{{ .dst }}"
  action: DENY
  rules:
  - to:
    - operation:
        ports: ["8094"]
    from:
    - source:
        principals: ["*/ns/{{ .Namespace }}/sa/{{ .src }}"]
---