# The following policy applies the CUSTOM action with the HTTP provider on workload b for path /custom.

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: policy-b
  namespace: "{{ .Namespace }}"
spec:
  selector:
    matchLabels:
      "app": "b"
  action: CUSTOM
  provider:
    name: "{{ .HTTPProviderName }}"
  rules:
    - to:
        - operation:
            paths: ["/custom"]
---

# The following policy applies the CUSTOM action with the GRPC provider on workload c for path /custom.

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: policy-c
  namespace: "{{ .Namespace }}"
spec:
  selector:
    matchLabels:
      "app": "c"
  action: CUSTOM
  provider:
    name: "{{ .GRPCProviderName }}"
  rules:
    - to:
        - operation:
            paths: ["/custom"]
---

# The following policy applies the CUSTOM action with the local HTTP provider on workload d for path /custom.

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: policy-d
  namespace: "{{ .Namespace }}"
spec:
  selector:
    matchLabels:
      "app": "d"
  action: CUSTOM
  provider:
    name: "{{ .LocalHTTPProviderName }}"
  rules:
  - to:
    - operation:
        paths: ["/custom"]
---

# The following policy applies the CUSTOM action with the local GRPC provider on workload e for path /custom.

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: policy-e
  namespace: "{{ .Namespace }}"
spec:
  selector:
    matchLabels:
      "app": "e"
  action: CUSTOM
  provider:
    name: "{{ .LocalGRPCProviderName }}"
  rules:
  - to:
    - operation:
        paths: ["/custom"]
---

# The following policy applies the CUSTOM action with the GRPC provider on workload f for TCP port 8092.

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: policy-f-tcp
  namespace: "{{ .Namespace }}"
spec:
  selector:
    matchLabels:
      "app": "f"
  action: CUSTOM
  provider:
    name: "{{ .GRPCProviderName }}"
  rules:
  - to:
    - operation:
        ports: ["8092"]

---

# The following policy applies the CUSTOM action with the HTTP provider on ingress gateway for path /custom.

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: policy-ingress-http
  namespace: "{{ .RootNamespace }}"
spec:
  selector:
    matchLabels:
      "app": "istio-ingressgateway"
  action: CUSTOM
  provider:
    name: "{{ .HTTPProviderName }}"
  rules:
  - to:
    - operation:
        paths: ["/custom"]
---

# The following gateway allows request to "*.company.com"

apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: test-ingress
  namespace: {{ .Namespace }}
spec:
  selector:
    istio: ingressgateway # use istio default ingress gateway
  servers:
    - port:
        number: 80
        name: http
        protocol: HTTP
      hosts:
        - "*.company.com"
---

# The following virtual service routes requests to workload x

apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: test-vs
  namespace: {{ .Namespace }}
spec:
  hosts:
  - "*.company.com"
  gateways:
  - test-ingress
  http:
  - route:
    - destination:
        host: x
        port:
          number: 80
