# The following policy denies access to path /deny to workload

apiVersion: "security.istio.io/v1beta1"
kind: AuthorizationPolicy
metadata:
  name: policy-{{ .dst0 }}-deny
  namespace: "{{ .Namespace }}"
spec:
  selector:
    matchLabels:
      "app": "{{ .dst0 }}"
  action: DENY
  rules:
  - to:
    - operation:
        paths: ["/deny"]
---

apiVersion: "security.istio.io/v1beta1"
kind: AuthorizationPolicy
metadata:
  name: policy-{{ .dst1 }}-deny
  namespace: "{{ .Namespace }}"
spec:
  selector:
    matchLabels:
      "app": "{{ .dst1 }}"
  action: DENY
  rules:
  - to:
    - operation:
        paths: ["/allow/admin"]
---

# The following policy allows access to path with prefix "/allow" to workload.

apiVersion: "security.istio.io/v1beta1"
kind: AuthorizationPolicy
metadata:
  name: policy-{{ .dst1 }}-allow
  namespace: "{{ .Namespace }}"
spec:
  selector:
    matchLabels:
      "app": "{{ .dst1 }}"
  action: ALLOW
  rules:
  - to:
    - operation:
        paths: ["/allow*"]
---
