# The following policy applies the CUSTOM action with the ext-authz-http provider on ingress gateway for path /custom.

apiVersion: "security.istio.io/v1beta1"
kind: AuthorizationPolicy
metadata:
  name: policy-ingress-http
  namespace: "{{ .RootNamespace }}"
spec:
  selector:
    matchLabels:
      "app": "istio-ingressgateway"
  action: CUSTOM
  provider:
    name: ext-authz-http
  rules:
  - to:
    - operation:
        paths: ["/custom"]

---
# The following gateway allows request to "*.company.com"

apiVersion: networking.istio.io/v1alpha3
kind: Gateway
metadata:
  name: test-ingress
spec:
  selector:
    istio: ingressgateway # use istio default ingress gateway
  servers:
    - port:
        number: 80
        name: http
        protocol: HTTP
      hosts:
        - "*.company.com"

---
# The following virtual service routes requests to workload x

apiVersion: networking.istio.io/v1alpha3
kind: VirtualService
metadata:
  name: test-vs
spec:
  hosts:
  - "*.company.com"
  gateways:
  - test-ingress
  http:
  - route:
    - destination:
        host: x
        port:
          number: 80
