# The following policy selects workload in namespace 1

apiVersion: "security.istio.io/v1beta1"
kind: AuthorizationPolicy
metadata:
  name: policy-ns1-{{ .dst }}
  namespace: "{{ .Namespace1 }}"
spec:
  selector:
    matchLabels:
      "app": "{{ .dst }}"
  rules:
  - to:
    - operation:
        paths: ["/policy-{{ .Namespace1 }}-{{ .dst }}"]
---

# The following policy selects a non-exist workload in namespace 1

apiVersion: "security.istio.io/v1beta1"
kind: AuthorizationPolicy
metadata:
  name: policy-ns1-x
  namespace: "{{ .Namespace1 }}"
spec:
  selector:
    matchLabels:
      "app": "{{ .dst }}"
      "foo": "bla"
  rules:
  - to:
    - operation:
        paths: ["/policy-{{ .Namespace1 }}-x"]
---

# The following policy selects all workloads in namespace 1

apiVersion: "security.istio.io/v1beta1"
kind: AuthorizationPolicy
metadata:
  name: policy-ns1-all
  namespace: "{{ .Namespace1 }}"
spec:
  rules:
  - to:
    - operation:
        paths: ["/policy-{{ .Namespace1 }}-all"]
---
