# The following policy selects workload c in all namespaces

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: policy-ns-root-{{ .c }}
  namespace: "{{ .RootNamespace }}"
spec:
  selector:
    matchLabels:
      "app": "{{ .c }}"
  rules:
  - to:
    - operation:
        paths: ["/policy-ns-root-{{ .c }}"]
---
