# The following policy denies access to path /global-deny for all workloads

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: policy-deny-ns-root
  namespace: "{{ .RootNamespace }}"
spec:
  action: DENY
  rules:
  - to:
    - operation:
        paths: ["/global-deny"]
---
