# The following policy denies:
# request to port 8091 for workload
# request to port 8093 with namespace suffix matching

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: policy-tcp-deny-2
  namespace: "{{ .Namespace }}"
spec:
  selector:
    matchLabels:
      "app": "{{ .dst }}"
  action: DENY
  rules:
  - to:
    - operation:
        ports: ["8091"]
  - to:
    - operation:
        ports: ["8093"]
    from:
    - source:
        namespaces: ["*{{ .Namespace2 }}"]
---
