# The following policy enables mTLS for server side workload.

apiVersion: security.istio.io/v1beta1
kind: PeerAuthentication
metadata:
  name: mtls
  namespace: "{{ .dstNamespace }}"
spec:
  selector:
    matchLabels:
      app: {{ .dst }}
  mtls:
    mode: STRICT
---
apiVersion: networking.istio.io/v1alpha3
kind: DestinationRule
metadata:
  name: mtls
  namespace: "{{ .dstNamespace }}"
spec:
  host: "{{ .dst }}.{{ .dstNamespace }}.svc.cluster.local"
  trafficPolicy:
    tls:
      mode: ISTIO_MUTUAL
---

# Each of the following authorization policy uses a different condition on the given path.

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: condition-request-headers
  namespace: "{{ .dstNamespace }}"
spec:
  selector:
    matchLabels:
      app: {{ .dst }}
  rules:
  - to:
    - operation:
        paths: ["/request-headers"]
    when:
    - key: request.headers[x-foo]
      values: ["foo"]
---

# Each of the following authorization policy uses a different condition on the given path.

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: condition-request-headers-notvalues
  namespace: "{{ .dstNamespace }}"
spec:
  selector:
    matchLabels:
      app: {{ .dst }}
  rules:
  - to:
    - operation:
        paths: ["/request-headers-notValues-bar"]
    when:
    - key: request.headers[x-foo]
      notValues: ["bar"]
---

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: condition-source-ip
  namespace: "{{ .dstNamespace }}"
spec:
  selector:
    matchLabels:
      app: {{ .dst }}
  rules:
  - to:
    - operation:
        paths: ["/source-ip-{{ .src1 }}"]
    when:
    - key: source.ip
      values: ["{{ .src1IP }}"]
---

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: condition-source-ip-notvalues
  namespace: "{{ .dstNamespace }}"
spec:
  selector:
    matchLabels:
      app: {{ .dst }}
  rules:
  - to:
    - operation:
        paths: ["/source-ip-notValues-{{ .src1 }}"]
    when:
    - key: source.ip
      notValues: ["{{ .src1IP }}"]
---

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: condition-source-namespace
  namespace: "{{ .dstNamespace }}"
spec:
  selector:
    matchLabels:
      app: {{ .dst }}
  rules:
  - to:
    - operation:
        paths: ["/source-namespace-{{ .src1 }}"]
    when:
    - key: source.namespace
      values: ["{{ .Namespace }}"]
---

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: condition-source-namespace-notvalues
  namespace: "{{ .dstNamespace }}"
spec:
  selector:
    matchLabels:
      app: {{ .dst }}
  rules:
  - to:
    - operation:
        paths: ["/source-namespace-notValues-{{ .src1 }}"]
    when:
    - key: source.namespace
      notValues: ["{{ .Namespace }}"]
---

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: condition-source-principal
  namespace: "{{ .dstNamespace }}"
spec:
  selector:
    matchLabels:
      app: {{ .dst }}
  rules:
  - to:
    - operation:
        paths: ["/source-principal-{{ .src1 }}"]
    when:
    - key: source.principal
      values: ["cluster.local/ns/{{ .Namespace }}/sa/{{ .src1 }}"]
---

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: condition-source-principal-notvalues
  namespace: "{{ .dstNamespace }}"
spec:
  selector:
    matchLabels:
      app: {{ .dst }}
  rules:
  - to:
    - operation:
        paths: ["/source-principal-notValues-{{ .src1 }}"]
    when:
    - key: source.principal
      notValues: ["cluster.local/ns/{{ .Namespace }}/sa/{{ .src1 }}"]
---

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: condition-destination-ip
  namespace: "{{ .dstNamespace }}"
spec:
  selector:
    matchLabels:
      app: {{ .dst }}
  rules:
  - to:
    - operation:
        paths: ["/destination-ip-good"]
    when:
    - key: destination.ip
      values: [{{ .src1IP }}]
  - to:
    - operation:
        paths: ["/destination-ip-bad"]
    when:
    - key: destination.ip
      values: ["1.2.3.4"]
---

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: condition-destination-ip-notvalues
  namespace: "{{ .dstNamespace }}"
spec:
  selector:
    matchLabels:
      app: {{ .dst }}
  rules:
  - to:
    - operation:
        paths: ["/destination-ip-notValues-1"]
    when:
    - key: destination.ip
      notValues: ["{{ .src1IP }}", "{{ .src2IP }}"]
  - to:
    - operation:
        paths: ["/destination-ip-notValues-2"]
    when:
    - key: destination.ip
      notValues: ["{{ .src1IP }}", "{{ .src2IP }}", {{ .src3IP }}]
---

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: condition-destination-port
  namespace: "{{ .dstNamespace }}"
spec:
  selector:
    matchLabels:
      app: {{ .dst }}
  rules:
  - to:
    - operation:
        paths: ["/destination-port-good"]
    when:
    - key: destination.port
      values: ["{{ .dstPort }}"]
  - to:
    - operation:
        paths: ["/destination-port-bad"]
    when:
    - key: destination.port
      values: ["1"]
---

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: condition-destination-port-notvalues
  namespace: "{{ .dstNamespace }}"
spec:
  selector:
    matchLabels:
      app: {{ .dst }}
  rules:
  - to:
    - operation:
        paths: ["/destination-port-notValues-{{ .dst }}"]
    when:
    - key: destination.port
      notValues: ["{{ .dstPort }}"]
---

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: condition-connection-sni
  namespace: "{{ .dstNamespace }}"
spec:
  selector:
    matchLabels:
      app: {{ .dst }}
  rules:
  - to:
    - operation:
        paths: ["/connection-sni-good"]
    when:
    - key: connection.sni
      values: ["*.{{ .dst }}.{{ .dstNamespace }}.svc.cluster.local"]
  - to:
    - operation:
        paths: ["/connection-sni-bad"]
    when:
    - key: connection.sni
      values: ["never-matched"]
---

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: condition-connection-sni-notvalues
  namespace: "{{ .dstNamespace }}"
spec:
  selector:
    matchLabels:
      app: {{ .dst }}
  rules:
  - to:
    - operation:
        paths: ["/connection-sni-notValues-{{ .src1 }}"]
    when:
    - key: connection.sni
      notValues: ["*.{{ .src1 }}.{{ .src1Namespace }}.svc.cluster.local"]
  - to:
    - operation:
        paths: ["/connection-sni-notValues-2"]
    when:
    - key: connection.sni
      notValues: ["*.{{ .dst }}.{{ .dstNamespace }}.svc.cluster.local"]
---
