# The following policy selects workload dst0 in namespace 1

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: policy-ns1-dst0
  namespace: "{{ .Namespace1 }}"
spec:
  selector:
    matchLabels:
      "app": "{{ .dst0 }}"
  rules:
  - to:
    - operation:
        paths: ["/policy-ns1-{{ .dst0 }}"]
---

# The following policy selects workload dst1 in namespace 1

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: policy-ns1-dst1
  namespace: "{{ .Namespace1 }}"
spec:
  selector:
    matchLabels:
      "app": "{{ .dst1 }}"
  rules:
  - to:
    - operation:
        paths: ["/policy-ns1-{{ .dst1 }}"]
---

# The following policy selects a non-exist workload in namespace 1

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: policy-ns1-x
  namespace: "{{ .Namespace1 }}"
spec:
  selector:
    matchLabels:
      "app": "{{ .dst1 }}"
      "foo": "bla"
  rules:
  - to:
    - operation:
        paths: ["/policy-ns1-x"]
---

# The following policy selects all workloads in namespace 1

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: policy-ns1-all
  namespace: "{{ .Namespace1 }}"
spec:
  rules:
  - to:
    - operation:
        paths: ["/policy-ns1-all"]
---