# The following policy selects all workloads in namespace 1

apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  name: policy-{{ .Namespace.Prefix }}-all
spec:
  rules:
    - to:
        - operation:
            paths: ["/policy-{{ .Namespace.Prefix }}-all"]
