*.descriptor      linguist-generated=true
*.descriptor      -diff -merge
*.descriptor_set  linguist-generated=true
*.descriptor_set  -diff -merge
*.pb.html linguist-generated=true
*.pb.go linguist-generated=true
*.gen.go linguist-generated=true
*.gen.yaml linguist-generated=true
*.gen.json linguist-generated=true
*_pb2.py linguist-generated=true
go.sum merge=union
