*.descriptor      linguist-generated=true
*.descriptor      -diff -merge
*.descriptor_set  linguist-generated=true
*.descriptor_set  -diff -merge
*.pb.html linguist-generated=true
*.pb.go linguist-generated=true
