test --test_output=errors
test --test_size_filters=-large,-enormous

# Always include the version information in the build
build --workspace_status_command=./bin/build_stamp.sh --action_env=ISTIO_VERSION --output_filter=^gogo
