---
title: istio.mixer.adapter.sample.myapa
layout: protoc-gen-docs
number_of_entries: 4
---
<p>myapa template is ..</p>

<h2 id="InstanceParam">InstanceParam</h2>
<section>
<p>Represents instance configuration schema for &lsquo;myapa&rsquo; template.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="InstanceParam.int64Primitive">
<td><code>int64Primitive</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="InstanceParam.boolPrimitive">
<td><code>boolPrimitive</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="InstanceParam.doublePrimitive">
<td><code>doublePrimitive</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="InstanceParam.stringPrimitive">
<td><code>stringPrimitive</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="InstanceParam.dimensionsFixedInt64ValueDType">
<td><code>dimensionsFixedInt64ValueDType</code></td>
<td><code>map&lt;string,&nbsp;string&gt;</code></td>
<td>
</td>
</tr>
<tr id="InstanceParam.timeStamp">
<td><code>timeStamp</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="InstanceParam.duration">
<td><code>duration</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="InstanceParam.res3_map">
<td><code>res3Map</code></td>
<td><code>map&lt;string,&nbsp;<a href="#Resource3InstanceParam">Resource3InstanceParam</a>&gt;</code></td>
<td>
</td>
</tr>
<tr id="InstanceParam.optionalIP">
<td><code>optionalIP</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="InstanceParam.email">
<td><code>email</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="InstanceParam.attribute_bindings">
<td><code>attributeBindings</code></td>
<td><code>map&lt;string,&nbsp;string&gt;</code></td>
<td>
<p>Attribute names to expression mapping. These expressions can use the fields from the output object
returned by the attribute producing adapters using $out.<fieldName> notation. For example:
source.ip : $out.source<em>pod</em>ip
In the above example, source.ip attribute will be added to the existing attribute list and its value will be set to
the value of source<em>pod</em>ip field of the output returned by the adapter.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h2 id="Resource1InstanceParam">Resource1InstanceParam</h2>
<section>
<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="Resource1InstanceParam.str">
<td><code>str</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="Resource1InstanceParam.self_ref_res1">
<td><code>selfRefRes1</code></td>
<td><code><a href="#Resource1InstanceParam">Resource1InstanceParam</a></code></td>
<td>
</td>
</tr>
<tr id="Resource1InstanceParam.resRef2">
<td><code>resRef2</code></td>
<td><code><a href="#Resource2InstanceParam">Resource2InstanceParam</a></code></td>
<td>
</td>
</tr>
</tbody>
</table>
</section>
<h2 id="Resource2InstanceParam">Resource2InstanceParam</h2>
<section>
<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="Resource2InstanceParam.str">
<td><code>str</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="Resource2InstanceParam.res3">
<td><code>res3</code></td>
<td><code><a href="#Resource3InstanceParam">Resource3InstanceParam</a></code></td>
<td>
</td>
</tr>
<tr id="Resource2InstanceParam.res3_map">
<td><code>res3Map</code></td>
<td><code>map&lt;string,&nbsp;<a href="#Resource3InstanceParam">Resource3InstanceParam</a>&gt;</code></td>
<td>
</td>
</tr>
</tbody>
</table>
</section>
<h2 id="Resource3InstanceParam">Resource3InstanceParam</h2>
<section>
<p>resource3 comment</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="Resource3InstanceParam.int64Primitive">
<td><code>int64Primitive</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="Resource3InstanceParam.boolPrimitive">
<td><code>boolPrimitive</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="Resource3InstanceParam.doublePrimitive">
<td><code>doublePrimitive</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="Resource3InstanceParam.stringPrimitive">
<td><code>stringPrimitive</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="Resource3InstanceParam.dimensionsFixedInt64ValueDType">
<td><code>dimensionsFixedInt64ValueDType</code></td>
<td><code>map&lt;string,&nbsp;string&gt;</code></td>
<td>
</td>
</tr>
<tr id="Resource3InstanceParam.timeStamp">
<td><code>timeStamp</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="Resource3InstanceParam.duration">
<td><code>duration</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
</tbody>
</table>
</section>
