# git history files
.history_rewritten_*
# emacs
*~
# Intellij
*.iml
.idea/
# vi backups
*.bak
# python artifacts
*.pyc
# lint
lintconfig.gen.json
*.orig
# Contains the built artifacts
out/
# vendor directory
/vendor
