---
title: samplecheck
layout: protoc-gen-docs
number_of_entries: 5
---
<h2 id="Services">Services</h2>
<h3 id="HandleSampleCheckService">HandleSampleCheckService</h3>
<section>
<p>HandleSampleCheckService is implemented by backends that wants to handle request-time &lsquo;samplecheck&rsquo; instances.</p>

<pre id="HandleSampleCheckService.HandleSampleCheck"><code class="language-proto">rpc HandleSampleCheck(HandleSampleCheckRequest) returns (istio.mixer.adapter.model.v1beta1.CheckResult)
</code></pre>
<p>HandleSampleCheck is called by Mixer at request-time to deliver &lsquo;samplecheck&rsquo; instances to the backend.</p>

</section>
<h2 id="Types">Types</h2>
<h3 id="HandleSampleCheckRequest">HandleSampleCheckRequest</h3>
<section>
<p>Request message for HandleSampleCheck method.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="HandleSampleCheckRequest.instance">
<td><code>instance</code></td>
<td><code><a href="#InstanceMsg">InstanceMsg</a></code></td>
<td>
<p>&lsquo;samplecheck&rsquo; instance.</p>

</td>
</tr>
<tr id="HandleSampleCheckRequest.adapter_config">
<td><code>adapterConfig</code></td>
<td><code><a href="https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#any">google.protobuf.Any</a></code></td>
<td>
<p>Adapter specific handler configuration.</p>

<p>Note: Backends can also implement <em>InfrastructureBackend</em>
service and therefore opt to receive handler configuration during session creation through <em>InfrastructureBackend.CreateSession</em>
call. In that case, adapter<em>config will have type</em>url as &lsquo;google.protobuf.Any.type<em>url&rsquo; and would contain string
value of session</em>id (returned from InfrastructureBackend.CreateSession).</p>

</td>
</tr>
<tr id="HandleSampleCheckRequest.dedup_id">
<td><code>dedupId</code></td>
<td><code>string</code></td>
<td>
<p>Id to dedupe identical requests from Mixer.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h3 id="InstanceMsg">InstanceMsg</h3>
<section>
<p>Contains instance payload for &lsquo;samplecheck&rsquo; template. This is passed to infrastructure backends during request-time
through HandleSampleCheckService.HandleSampleCheck.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="InstanceMsg.name">
<td><code>name</code></td>
<td><code>string</code></td>
<td>
<p>Name of the instance as specified in configuration.</p>

</td>
</tr>
<tr id="InstanceMsg.stringPrimitive">
<td><code>stringPrimitive</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
</tbody>
</table>
</section>
<h3 id="InstanceParam">InstanceParam</h3>
<section>
<p>Represents instance configuration schema for &lsquo;samplecheck&rsquo; template.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="InstanceParam.stringPrimitive">
<td><code>stringPrimitive</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
</tbody>
</table>
</section>
<h3 id="Type">Type</h3>
<section>
<p>Contains inferred type information about specific instance of &lsquo;samplecheck&rsquo; template. This is passed to
infrastructure backends during configuration-time through <em>InfrastructureBackend.CreateSession</em>.</p>

</section>
