# istio-rbac-enable.yaml to enable istio RBAC
apiVersion: "config.istio.io/v1alpha2"
kind: authorization
metadata:
  name: requestcontext
  namespace: {{ .IstioNamespace }}
spec:
  subject:
    user: source.user | ""
    groups: ""
    properties:
      app: source.labels["app"] | ""
      version: source.labels["version"] | ""
      namespace: source.namespace | ""
  action:
    namespace: destination.namespace | ""
    service: destination.service | ""
    method: request.method | ""
    path: request.path | ""
    properties:
      app: destination.labels["app"] | ""
      version: destination.labels["version"] | ""
---
apiVersion: "config.istio.io/v1alpha2"
kind: rbac
metadata:
  name: handler
  namespace: {{ .IstioNamespace }}
spec:
  config_store_url: "k8s://"
  cache_duration: "0s"
---
apiVersion: "config.istio.io/v1alpha2"
kind: rule
metadata:
  name: rbaccheck
  namespace: {{ .IstioNamespace }}
spec:
  match: destination.namespace == "{{ .Namespace }}"
  actions:
  - handler: handler.rbac
    instances:
    - requestcontext.authorization
---
