apiVersion: config.istio.io/v1alpha2
kind: VirtualService
metadata:
  name: default-route
spec:
  hosts:
    - c
  http:
    - match:
      - headers:
          testwebsocket:
            exact: enabled
      route:
      - destination:
          name: c
          subset: v1
      websocketUpgrade: true
