apiVersion: config.istio.io/v1alpha2
kind: VirtualService
metadata:
  name: default-route
spec:
  hosts:
    - c
  http:
    - match:
      - headers:
          version:
            exact: v2
        source_labels:
          version: v1
      route:
      - destination:
          name: c
          subset: v2
        weight: 100
    - route:
      - destination:
          name: c
          subset: v1
        weight: 100
