{{ define "sidebar" }}
<nav class="sidebar">
    <div class="spacer"></div>
    <div class="directory" role="tablist">

    <div class="card">
        <div class="card-header" role="tab" id="header">
            <div>ControlZ</div>
        </div>

        <div class="card-body">
            <ul class="tree">
                {{ range getTopics }}
                    <li>
                        <a href="{{.URL}}">{{.Name}}</a>
                    </li>
                {{ end }}
            </ul>
        </div>
    </div>
</nav>
{{ end }}
