[Unit]
Description=istio-sidecar: The Istio sidecar
Documentation=http://istio.io/

[Service]
ExecStart=/usr/local/bin/istio-start.sh
ExecStopPost=/usr/local/bin/istio-start.sh clean
Restart=always
StartLimitInterval=0
RestartSec=10
KillMode=mixed
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target
