[Unit]
Description=istio-sidecar: The Istio sidecar
Documentation=http://istio.io/
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/bin/istio-start.sh
ExecStartPre=+/usr/bin/install -d -o istio-proxy -m 0755 /var/run/secrets
ExecStopPost=/usr/local/bin/istio-start.sh clean
Restart=always
RestartSec=10
KillMode=mixed
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target
