---
apiVersion: "security.istio.io/v1beta1"
kind: "RequestAuthentication"
metadata:
  name: "request-authn-for-c"
  namespace: {{ .Namespace }}
spec:
  selector:
    matchLabels:
      app: c
  jwtRules:
  - issuer: "test-issuer-1@istio.io"
    jwksUri: "http://jwt-server.v1beta1-remotejwks:8000/jwks"
    outputPayloadToHeader: "x-test-payload"
  - issuer: "test-issuer-2@istio.io"
    jwksUri: "https://raw.githubusercontent.com/istio/istio/master/tests/common/jwt/jwks.json"
    outputPayloadToHeader: "x-test-payload"
---
