---
apiVersion: "security.istio.io/v1beta1"
kind: "RequestAuthentication"
metadata:
  name: "requst-authn-for-e"
  namespace: {{ .Namespace }}
spec:
  selector:
    matchLabels:
      app: e
  jwtRules:
  - issuer: "test-issuer-1@istio.io"
    jwksUri: "https://raw.githubusercontent.com/istio/istio/release-1.7/tests/common/jwt/jwks.json"
    outputPayloadToHeader: "x-test-payload"
    forwardOriginalToken: true
---