---
apiVersion: "security.istio.io/v1beta1"
kind: "RequestAuthentication"
metadata:
  name: "request-authn-for-f"
  namespace: {{ .Namespace }}
spec:
  selector:
    matchLabels:
      app: f
  jwtRules:
  - issuer: "test-issuer-1@istio.io"
    jwksUri: "https://site.doesnot.exist/istio/istio/release-1.6/security/tools/jwt/samples/jwks.json"
---