---
apiVersion: security.istio.io/v1beta1
kind: RequestAuthentication
metadata:
  name: request-authn
spec:
  selector:
    matchLabels:
      app: {{ .dst }}
  jwtRules:
  - issuer: "test-issuer-1@istio.io"
    jwksUri: "http://jwt-server.{{ .Namespace }}.svc.cluster.local:8000/jwks"
    outputPayloadToHeader: "x-test-payload"
    forwardOriginalToken: true
---