apiVersion: "authentication.istio.io/v1alpha1"
kind: "Policy"
metadata:
  name: "jwt-two-issues-for-e"
spec:
  targets:
  - name: e
  origins:
  - jwt:
      issuer: "test-issuer-2@istio.io"
      jwksUri: "https://raw.githubusercontent.com/istio/istio/master/tests/common/jwt/jwks.json"
      triggerRules:
      - excludedPaths:
        - exact: /health_check
        - exact: /testing-istio-jwt
        - exact: /wrong-issuer
  - jwt:
      issuer: "test-issuer-1@istio.io"
      jwksUri: "https://raw.githubusercontent.com/istio/istio/master/tests/common/jwt/jwks.json"
      triggerRules:
      - includedPaths:
        - exact: /testing-istio-jwt
  - jwt:
      issuer: "barcelona@champions.eu" # Non existing issuer in this test context.
      jwksUri: "https://raw.githubusercontent.com/istio/istio/master/tests/common/jwt/jwks.json"
      triggerRules:
      - includedPaths:
        - exact: /wrong-issuer
  principalBinding: USE_ORIGIN
