apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  namespace: "{{ .Namespace }}"
  name: "dry-run-deny"
  annotations:
    "istio.io/dry-run": "true"
spec:
  action: DENY
  rules:
  - from:
    - source:
        principals: ["*"]
---
apiVersion: security.istio.io/v1beta1
kind: AuthorizationPolicy
metadata:
  namespace: "{{ .Namespace }}"
  name: "dry-run-allow"
  annotations:
    "istio.io/dry-run": "true"
spec:
  action: ALLOW
  rules:
  - from:
    - source:
        principals: ["*"]
