# istio-rbac-v1-grpc-rules.yaml to enforce access control for gRPC services using Istio RBAC v1 rules.

# For service a:
# * Allow b to call a's Echo method.
# * Service c cannot talk to a since GET, DELETE, and PUT are not supported in gRPC.
# * Allow d to call any methods of a.

apiVersion: "rbac.istio.io/v1alpha1"
kind: ServiceRole
metadata:
  name: access-grpc-echo
  namespace: {{ .Namespace }}
spec:
  rules:
    - services: ["a.{{ .Namespace }}.svc.cluster.local"]
      paths: ["/proto.EchoTestService/Echo"]
      # This is optional, since gRPC can only allow POST.
      # If methods are not specified, it will allow all methods, which include POST.
      methods: ["POST"]
---

apiVersion: "rbac.istio.io/v1alpha1"
kind: ServiceRoleBinding
metadata:
  name: bind-access-grpc-echo
  namespace: {{ .Namespace }}
spec:
  subjects:
  - user: "cluster.local/ns/{{ .Namespace }}/sa/b"
  roleRef:
    kind: ServiceRole
    name: access-grpc-echo
---

apiVersion: "rbac.istio.io/v1alpha1"
kind: ServiceRole
metadata:
  name: not-access-grpc-not-post
  namespace: {{ .Namespace }}
spec:
  rules:
    - services: ["a.{{ .Namespace }}.svc.cluster.local"]
      paths: ["/proto.EchoTestService/Echo"]
      # Since gRPC only allows POST, this will be denied (even though paths should be allowed).
      # In practice, users should not define methods when writing rules for gRPC services.
      methods: ["GET", "DELETE", "PUT"]
---

apiVersion: "rbac.istio.io/v1alpha1"
kind: ServiceRoleBinding
metadata:
  name: bind-not-access-grpc-not-post
  namespace: {{ .Namespace }}
spec:
  subjects:
  - user: "cluster.local/ns/{{ .Namespace }}/sa/c"
  roleRef:
    kind: ServiceRole
    name: not-access-grpc-not-post
---

apiVersion: "rbac.istio.io/v1alpha1"
kind: ServiceRole
metadata:
  name: access-grpc-any
  namespace: {{ .Namespace }}
spec:
  rules:
    - services: ["a.{{ .Namespace }}.svc.cluster.local"]
---

apiVersion: "rbac.istio.io/v1alpha1"
kind: ServiceRoleBinding
metadata:
  name: bind-access-grpc-any
  namespace: {{ .Namespace }}
spec:
  subjects:
  - user: "cluster.local/ns/{{ .Namespace }}/sa/d"
  roleRef:
    kind: ServiceRole
    name: access-grpc-any
