{
    "trace_sampled": true,
    "http_request": {
        "request_method": "GET",
        "request_url": "http://server.{{ .EchoNamespace }}.svc.cluster.local/",
        "protocol": "http",
        "status": "200"
    },
    "labels": {
        "destination_canonical_revision": "v1",
        "destination_canonical_service": "vm-server",
        "destination_namespace": "{{ .EchoNamespace }}",
        "destination_principal": "spiffe://{{ .TrustDomain }}/ns/{{ .EchoNamespace }}/sa/default",
        "destination_service_host": "server.{{ .EchoNamespace }}.svc.cluster.local",
        "destination_service_name": "server",
        "destination_workload": "vm-server-v1",
        "mesh_uid": "proj-test-mesh",
        "response_flag": "-",
        "service_authentication_policy": "MUTUAL_TLS",
        "source_app": "client",
        "source_canonical_revision": "v1",
        "source_canonical_service": "client",
        "source_namespace": "{{ .EchoNamespace }}",
        "source_principal": "spiffe://{{ .TrustDomain }}/ns/{{ .EchoNamespace }}/sa/default",
        "source_version": "v1",
        "source_workload": "client-v1",
        "protocol": "http",
        "log_sampled": "false",
        "upstream_cluster": "inbound|8090||",
        "route_name": "default",
        "requested_server_name": "outbound_.8090_._.server.{{ .EchoNamespace }}.svc.cluster.local",
        "response_details": "via_upstream"
    }
}
