{
    "metric": {
       "type": "istio.io/service/server/request_count",
       "labels": {
          "api_version": "",
          "api_name": "",
          "destination_canonical_revision": "v1",
          "destination_canonical_service_name": "vm-server",
          "destination_canonical_service_namespace": "{{ .EchoNamespace }}",
          "destination_owner": "//compute.googleapis.com/some-creator",
          "destination_port": "8090",
          "destination_principal": "spiffe://{{ .TrustDomain }}/ns/{{ .EchoNamespace }}/sa/default",
          "destination_service_name": "server",
          "destination_service_namespace": "{{ .EchoNamespace }}",
          "destination_workload_name": "vm-server-v1",
          "destination_workload_namespace": "{{ .EchoNamespace }}",
          "mesh_uid": "proj-test-mesh",
          "request_operation": "GET",
          "request_protocol": "http",
          "response_code": "200",
          "service_authentication_policy": "MUTUAL_TLS",
          "source_canonical_revision": "v1",
          "source_canonical_service_name": "client",
          "source_canonical_service_namespace": "{{ .EchoNamespace }}",
          "source_owner": "kubernetes://apis/apps/v1/namespaces/{{ .EchoNamespace }}/deployments/client-v1",
          "source_principal": "spiffe://{{ .TrustDomain }}/ns/{{ .EchoNamespace }}/sa/default",
          "source_workload_name": "client-v1",
          "source_workload_namespace": "{{ .EchoNamespace }}",
          "proxy_version": "{{ .ProxyVersion }}"
       }
    }
}
