<div id="doc-call" class="container-fluid doc-call-container ">
    <div class="row doc-call-row">
        <div class="col-md-10 nofloat center-block">
            <div class="col-sm-9 text-center nofloat center-block">
                <h2 class="doc-call-title">Want to learn more?</h2>
                <p class="doc-call-text"> Get started by learning Istio concepts and doing our bookinfo quickstart demo.</p>
                <a href="{{site.baseurl}}/docs"><button class="btn btn-grpc waves-effect waves-light btn-doc-call">GET STARTED</button></a>
            </div>
        </div>
    </div>
</div>
