<div class="container">
	<div class="row">
		<div class="col-md-11 nofloat center-block">
			<ul class="col-sm-10 doc-nav">
				{% assign current = page.url | downcase | split: '/' %}
				<li class="tab docs-tab"><a href="{{ site.baseurl }}/docs/">Docs</a></li>
				<span class="doc-caret">></span>
				<li class="tab"><a href="{{ site.baseurl }}/docs/" {% if page.path == 'docs/index.html' %}class='current'{% endif %}>Home</a></li>
				<li class="tab"><a href="{{ site.baseurl }}/docs/quickstarts" {% if current[2] == 'quickstarts' %}class='current'{% endif %}>Quick Starts</a></li>
				<li class="tab"><a href="{{ site.baseurl }}/docs/concepts" {% if current[2] == 'concepts' %}class='current'{% endif %}>Concepts</a></li>
				<li class="tab"><a href="{{ site.baseurl }}/docs/tutorials" {% if current[2] == 'tutorials' %}class='current'{% endif %}>Tutorials</a></li>
				<li class="tab"><a href="{{ site.baseurl }}/docs/reference" {% if current[2] == 'reference' %}class='current'{% endif %}>Reference</a></li>
				<li class="tab"><a href="{{ site.baseurl }}/docs/samples" {% if current[2] == 'samples' %}class='current'{% endif %}>Samples</a></li>
			 </ul>
			 {% include contribute-links.html %}
		</div>
	</div>
</div>
