<div class="container">
	<div class="row">
		<div class="col-md-11 nofloat center-block" style="margin-top: 3px;">
			<ul class="col-sm-10 nav nav-tabs">
				{% assign active = page.url | downcase | split: '/' %}
				<li role="presentation" {% if page.url == '/docs/' %}class='active'{% endif %}><a href="{{ site.baseurl }}/docs/">Welcome</a></li>
				<li role="presentation" {% if active[2] == 'concepts' %}class='active'{% endif %}><a href="{{ site.baseurl }}/docs/concepts">Concepts</a></li>
				<li role="presentation" {% if active[2] == 'tasks' %}class='active'{% endif %}><a href="{{ site.baseurl }}/docs/tasks">Tasks</a></li>
				<li role="presentation" {% if active[2] == 'samples' %}class='active'{% endif %}><a href="{{ site.baseurl }}/docs/samples">Samples</a></li>
				<li role="presentation" {% if active[2] == 'reference' %}class='active'{% endif %}><a href="{{ site.baseurl }}/docs/reference">Reference</a></li>
			 </ul>
			 {% include contribute-links.html %}
		</div>
	</div>
</div>
