<ul class="doc-side-nav doc-side-nav-home">
	{% assign current = page.url | downcase | split: '/' %}
	<h5 class="doc-side-nav-title">Docs Home</h5>
	<li class="doc-side-nav-list-item"><a href="{{ site.baseurl }}/docs/home/notes.html" {% if current[3] == 'notes.html' %}class='current'{% endif %}>Release Notes</a></li>
	<li class="doc-side-nav-list-item"><a href="{{ site.baseurl }}/docs/home/roadmap.html" {% if current[3] == 'roadmap.html' %}class='current'{% endif %}>Roadmap</a></li>
	<li class="submenu">
		<h6 class="arrow-r">Contributing to the Istio Docs</h6>
		<div class="submenu-content">
			<a class="submenu-link {% if current[4] == 'editing.html' %}active{% endif %}" href="{{ site.baseurl }}/docs/home/contribute/editing.html">Editing Istio Docs</a>
			<a class="submenu-link {% if current[4] == 'creating-a-pull-request.html' %}active{% endif %}" href="{{ site.baseurl }}/docs/home/contribute/creating-a-pull-request.html">Creating a Doc Pull Request</a>
			<a class="submenu-link {% if current[4] == 'writing-a-new-topic.html' %}active{% endif %}" href="{{ site.baseurl }}/docs/home/contribute/writing-a-new-topic.html">Writing a New Topic</a>
			<a class="submenu-link {% if current[4] == 'staging-your-changes.html' %}active{% endif %}" href="{{ site.baseurl }}/docs/home/contribute/staging-your-changes.html">Staging Your Changes</a>
			<a class="submenu-link {% if current[4] == 'using-page-templates.html' %}active{% endif %}" href="{{ site.baseurl }}/docs/home/contribute/using-page-templates.html">Using Page Templates</a>
			<a class="submenu-link {% if current[4] == 'reviewing-doc-issues.html' %}active{% endif %}" href="{{ site.baseurl }}/docs/home/contribute/reviewing-doc-issues.html">Reviewing Doc Issues</a>
			<a class="submenu-link {% if current[4] == 'style-guide.html' %}active{% endif %}" href="{{ site.baseurl }}/docs/home/contribute/style-guide.html">Style Guide</a>
		</div>
	</li>
</ul>
