<footer>
    <div class="container">
        <div class="left-links">
            <img class="footer-logo" src="{{ site.baseurl }}/img/logo.jpg" alt="istio">
            <p class="description">&copy;2017 Istio | A service mesh for polyglot microservices</p>
        </div>
        <div class="right-links">
            <div class="col-md-4 col-sm-4 col-xs-12 footer-documentation">
                <ul class="toggle">
                    <p class="right-link-headers">Documentation</p>
                    <li><a href="{{ site.baseurl }}/docs/"><p>Home</p></a></li>
		    <li><a href="{{ site.baseurl }}/docs/concepts"><p>Concepts</p></a></li>
                    <li><a href="{{ site.baseurl }}/docs/quickstarts"><p>Quick Starts</p></a></li>
                    <li><a href="{{ site.baseurl }}/docs/guides"><p>Guides</p></a></li>
                    <li><a href="{{ site.baseurl }}/docs/demos"><p>Demos</p></a></li>
		    <li><a href="{{ site.baseurl }}/docs/reference"><p>Reference</p></a></li>
                </ul>
            </div>
            <hr class="footer-sections" />
            <div class="col-md-3 col-sm-3 col-xs-12 footer-resources">
                <ul class="toggle">
                    <p class="right-link-headers">Resources</p>
                    <li><a href="{{ site.baseurl }}/about"><p>About</p></a></li>
                    <li><a href="{{ site.baseurl }}/blog"><p>Blog</p></a></li>
                    <li><a href="{{ site.baseurl }}/faq"><p>FAQ</p></a></li>
                </ul>
            </div>
            <hr class="footer-sections" />
            <div class="col-md-5 col-sm-5 col-xs-12 footer-community">
                <ul class="toggle">
                    <p class="right-link-headers">Community</p>
                    <li><a href="https://github.com/istio/" target="_blank"><p class="github community-links">Github</p></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
