<footer>
    <div class="container">
        <div class="left-links">
            <p class="description">&copy;2017 Istio | A service mesh for polyglot microservices</p>
        </div>
        <div class="right-links">
            <div class="col-md-3 col-sm-3 col-xs-12 footer-documentation">
                <ul class="toggle">
                    <p class="right-link-headers">Documentation</p>
                    <li><a href="{{ site.baseurl }}/docs/"><p>Home</p></a></li>
		            <li><a href="{{ site.baseurl }}/docs/concepts"><p>Concepts</p></a></li>
                    <li><a href="{{ site.baseurl }}/docs/tasks"><p>Tasks</p></a></li>
                    <li><a href="{{ site.baseurl }}/docs/tutorials"><p>Tutorials</p></a></li>
                    <li><a href="{{ site.baseurl }}/docs/samples"><p>Samples</p></a></li>
                    <li><a href="{{ site.baseurl }}/docs/reference"><p>Reference</p></a></li>
                </ul>
            </div>
            <hr class="footer-sections" />
            <div class="col-md-3 col-sm-3 col-xs-12 footer-resources">
                <ul class="toggle">
                    <p class="right-link-headers">Resources</p>
                    <li><a href="{{ site.baseurl }}/about"><p>About Istio</p></a></li>
                    <li><a href="{{ site.baseurl }}/blog"><p>The Istio Blog</p></a></li>
                    <li><a href="{{ site.baseurl }}/faq"><p>Frequently Asked Questions</p></a></li>
                </ul>
            </div>
            <hr class="footer-sections" />
            <div class="col-md-3 col-sm-3 col-xs-12 footer-community">
                <ul class="toggle">
                    <p class="right-link-headers">User Community</p>
                    <li><a href="https://stackoverflow.com/questions/tagged/istio" target="_blank"><p class="stack-overflow community-links">Stack Overflow</p></a></li>
                    <li><a href="https://groups.google.com/forum/#!forum/istio-user" target="_blank"><p class="group community-links">User Mailing List</p></a></li>
                </ul>
            </div>
            <hr class="footer-sections" />
            <div class="col-md-3 col-sm-3 col-xs-12 footer-community">
                <ul class="toggle">
                    <p class="right-link-headers">Dev Community</p>
                    <li><a href="https://github.com/istio/" target="_blank"><p class="github community-links">GitHub</p></a></li>
                    <li><a href="https://istio-dev.slack.com" target="_blank"><p class="slack community-links">Slack</p></a></li>
                    <li><a href="https://groups.google.com/forum/#!forum/istio-dev" target="_blank"><p class="group community-links">Dev Mailing List</p></a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>
