---
title: SampleApa
layout: protoc-gen-docs
number_of_entries: 2
---
{% raw %}
<h2 id="OutputTemplate">OutputTemplate</h2>
<section>
<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="OutputTemplate.int64Primitive">
<td><code>int64Primitive</code></td>
<td><code>int64</code></td>
<td>
</td>
</tr>
<tr id="OutputTemplate.boolPrimitive">
<td><code>boolPrimitive</code></td>
<td><code>bool</code></td>
<td>
</td>
</tr>
<tr id="OutputTemplate.doublePrimitive">
<td><code>doublePrimitive</code></td>
<td><code>double</code></td>
<td>
</td>
</tr>
<tr id="OutputTemplate.stringPrimitive">
<td><code>stringPrimitive</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
<tr id="OutputTemplate.stringMap">
<td><code>stringMap</code></td>
<td><code>map&lt;string, string&gt;</code></td>
<td>
</td>
</tr>
</tbody>
</table>
</section>
<h2 id="Template">Template</h2>
<section>
<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="Template.int64Primitive">
<td><code>int64Primitive</code></td>
<td><code>int64</code></td>
<td>
</td>
</tr>
<tr id="Template.boolPrimitive">
<td><code>boolPrimitive</code></td>
<td><code>bool</code></td>
<td>
</td>
</tr>
<tr id="Template.doublePrimitive">
<td><code>doublePrimitive</code></td>
<td><code>double</code></td>
<td>
</td>
</tr>
<tr id="Template.stringPrimitive">
<td><code>stringPrimitive</code></td>
<td><code>string</code></td>
<td>
</td>
</tr>
</tbody>
</table>
</section>
{% endraw %}
