{% extends "bootstrap/base.html" %}
{% block metas %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% endblock %}

{% block styles %}
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
{% endblock %}
{% block scripts %}
<!-- Latest compiled and minified JavaScript -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

<script type="text/javascript">
$('#login-modal').on('shown.bs.modal', function () {
     $('#username').focus();
});
</script>
{% endblock %}
{% block title %}Simple Bookstore App{% endblock %}
{% block content %}

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#"></a>
        </div>
        {% if user: %}
        <p class="navbar-text navbar-right">
            <i class="glyphicon glyphicon-user" aria-hidden="true"></i>
            <span style="padding-left: 5px;">{{ user }}  ( <a href="logout">sign out</a> )</span>
        </p>
        {% else %}
        <button type="button" class="btn btn-default navbar-btn navbar-right" data-toggle="modal" href="#login-modal">Sign in</button>
        {% endif %}
    </div>
</nav>

<!---
<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header pull-left">
      <a class="navbar-brand" href="#">Microservices Fabric BookInfo Demo</a>
    </div>
    <div class="navbar-header pull-right">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse">
{% if user %}
      <a href="logout"><button type="button" class="btn btn-default navbar-btn pull-right">Sign out</button></a>
      <p class="navbar-text pull-right">Signed in as {{ user }}</p>
{% else %}
      <button type="button" class="btn btn-default navbar-btn pull-right" data-toggle="modal" data-target="#login-modal">Sign in</button>
{% endif %}
    </div>
  </div>
</div>
-->
    
<div id="login-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Please sign in</h4>
      </div>
      <div class="modal-body">
        <form method="post" action='login' name="login_form">
          <p><input type="text" class="form-control" name="username" id="username" placeholder="User Name"></p>
          <p><input type="password" class="form-control" name="passwd" placeholder="Password"></p>
          <p>
             <button type="submit" class="btn btn-primary">Sign in</button>
             <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </p>
        </form>
      </div>
    </div>

  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3 class="text-center text-primary" style="font-size:250%;">{{ product.title }}</h3>
      {% autoescape false %}
        <p style="font-size:120%;">{{ product.descriptionHtml }}</p>
      {% endautoescape %}
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      {% if detailsStatus == 200: %}
        <h4 class="text-left text-primary" style="font-size:150%">Personal Information</h4>
        <dl>
          <dt style="font-family:verdana;font-size:130%;padding-bottom:3px">Name:</dt>
          <dd style="font-family:verdana;font-size:130%;padding-bottom:10px;font-style:italic;">{{ details.name }}</dd>
          <dt style="font-family:verdana;font-size:130%;padding-bottom:3px">Address:</dt>
          <dd style="font-family:verdana;font-size:130%;padding-bottom:10px;font-style:italic;">{{ details.address }}</dd>
          <dt style="font-family:verdana;font-size:130%;padding-bottom:3px">Credit Card Number:</dt>
          <dd style="font-family:verdana;font-size:130%;padding-bottom:10px;font-style:italic;">{{ details.card }}</dd>
          <dt style="font-family:verdana;font-size:130%;padding-bottom:3px">Expire:</dt>
          <dd style="font-family:verdana;font-size:130%;padding-bottom:10px;font-style:italic;">{{ details.expire }}</dd>
        </dl>
      {% else %}
        <h4 class="text-center text-primary">Error fetching credit card details!</h4>
        {% if details: %}
          <p>{{ details.error }}</p>
        {% endif %}
      {% endif %}
    </div>

    <div class="col-md-6">
      {% if detailsStatus == 200: %}
        <h4 class="text-left text-primary" style="font-size:150%">Purchase History</h4>
        <dl>
          <dt style="font-family:verdana;font-size:130%;padding-bottom:3px">Book 1:</dt>
          <dd style="font-family:verdana;font-size:130%;padding-bottom:3px">{{ details.book1 }}</dd>
          <dd style="font-family:verdana;font-size:130%;padding-bottom:10px;font-style:italic;">{{ details.auth1 }}</dd>
          <dt style="font-family:verdana;font-size:130%;padding-bottom:3px">Book 2:</dt>
          <dd style="font-family:verdana;font-size:130%;padding-bottom:3px">{{ details.book2 }}</dd>
          <dd style="font-family:verdana;font-size:130%;padding-bottom:10px;font-style:italic;">{{ details.auth2 }}</dd>
          <dt style="font-family:verdana;font-size:130%;padding-bottom:3px">Book 3:</dt>
          <dd style="font-family:verdana;font-size:130%;padding-bottom:3px">{{ details.book3 }}</dd>
          <dd style="font-family:verdana;font-size:130%;padding-bottom:10px;font-style:italic;">{{ details.auth3 }}</dd>
        </dl>
      {% else %}
        <h4 class="text-center text-primary">Error fetching credit card details!</h4>
        {% if details: %}
          <p>{{ details.error }}</p>
        {% endif %}
      {% endif %}
    </div>

  </div>
</div>
{% endblock %}
