---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: istio-ca-service-account
---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  annotations:
    policy.sidecar.istio.io: "policy.sidecar.istio.io/force-off"
  name: istio-ca
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: istio-ca-app
    spec:
      serviceAccountName: istio-ca-service-account
      containers:
      - name: istio-ca-container
        image: {{.CaImage}}
        imagePullPolicy: IfNotPresent
