apiVersion: v1
kind: ConfigMap
metadata:
  name: istio
data:
  mesh: |-
    discoveryAddress: istio-pilot.{{.IstioNamespace}}:8080
    egressProxyAddress: istio-egress.{{.IstioNamespace}}:80
{{if .Mixer}}
    mixerAddress: istio-mixer.{{.IstioNamespace}}:9091
{{end}}
    authPolicy: {{ .Auth }}
    authCertsPath: /etc/certs
{{if .Zipkin}}
    zipkinAddress: zipkin.{{.IstioNamespace}}:9411
{{end}}
