apiVersion: config.istio.io/v1alpha2
kind: EgressRule
metadata:
  name: wikipedia
spec:
  destination:
      service: "91.198.174.192"
  ports:
      - port: 443
        protocol: tcp
  use_egress_proxy: false
