apiVersion: config.istio.io/v1alpha2
kind: EgressRule
metadata:
  name: google-cloud-172.217
spec:
  destination:
      service: "172.217.0.0/16"
  ports:
      - port: 443
        protocol: tcp
  use_egress_proxy: false
---
apiVersion: config.istio.io/v1alpha2
kind: EgressRule
metadata:
  name: google-cloud-216.158
spec:
  destination:
      service: "216.158.0.0/16"
  ports:
      - port: 443
        protocol: tcp
  use_egress_proxy: false
