---
apiVersion: v1
kind: Service
metadata:
  name: istio-egress
spec:
  ports:
  - name: http
    port: 80
  selector:
    app: istio-egress
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: istio-egress
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: istio-egress
    spec:
      containers:
      - name: proxy
        image: {{.Hub}}/proxy_debug:{{.Tag}}
        imagePullPolicy: Always
        ports:
        - containerPort: 80
        args: ["proxy", "egress", "-v", "{{.Verbosity}}"]
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
{{if eq .Auth 1}}
        volumeMounts:
        - mountPath: /etc/certs
          name: istio-certs
          readOnly: true
      volumes:
      - name: istio-certs
        secret:
          secretName: istio.default
{{end}}
---
