apiVersion: v1
kind: ConfigMap
metadata:
  name: istio-inject
data:
  config: |-
    policy: "{{.Policy}}"
    namespaces:
{{ range $namespace := .Namespaces}}
    - "{{$namespace}}"
{{ end }}
    initializerName: "sidecar.initializer.istio.io"
    params:
      initImage: "{{.Params.InitImage}}"
      proxyImage: "{{.Params.ProxyImage}}"
      verbosity: {{.Params.Verbosity}}
      SidecarProxyUID: {{.Params.SidecarProxyUID}}
      Version: "{{.Params.Version}}"
      DebugMode: {{.Params.DebugMode}}
      EnableCoreDump: {{.Params.EnableCoreDump}}
      MeshConfigMapName: "{{.Params.MeshConfigMapName}}"
      ImagePullPolicy: "{{.Params.ImagePullPolicy}}"
      IncludeIPRanges: "{{.Params.IncludeIPRanges}}"
