# Manager service for discovery
apiVersion: v1
kind: Service
metadata:
  name: istio-manager
  labels:
    infra: manager
spec:
  ports:
  - port: 8080
    name: http-discovery
  - port: 8081
    name: http-apiserver
  selector:
    infra: manager
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: istio-manager
spec:
  replicas: 1
  template:
    metadata:
      labels:
        infra: manager
    spec:
      containers:
      - name: manager
        image: {{.Hub}}/manager:{{.Tag}}
        imagePullPolicy: Always
        args: ["discovery", "-v", "{{.Verbosity}}"]
        ports:
        - containerPort: 8080
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
      - name: apiserver
        image: {{.Hub}}/manager:{{.Tag}}
        imagePullPolicy: Always
        args: ["apiserver", "-v", "{{.Verbosity}}"]
        ports:
        - containerPort: 8081
        env:
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
---
