# Mixer
apiVersion: v1
kind: Service
metadata:
  name: istio-mixer
  labels:
    app: mixer
spec:
  ports:
  - name: grpc
    port: 15004
  selector:
    app: mixer
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: istio-mixer-service-account
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    sidecar.istio.io/inject: "false"
  name: istio-mixer
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: mixer
    spec:
      serviceAccountName: istio-mixer-service-account
      containers:
      - name: mixer
        image: {{.Hub}}/testmixer:{{.Tag}}
        imagePullPolicy: IfNotPresent
      - name: istio-proxy
        image: {{.Hub}}/proxy_debug:{{.Tag}}
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 15004
        args:
        - proxy
        - mixer
        - -v
        - "{{.Verbosity}}"
        - --controlPlaneAuthPolicy
        - "{{.ControlPlaneAuthPolicy.String}}"
        - --customConfigFile
        - "{{.MixerCustomConfigFile}}"
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
        volumeMounts:
        - name: istio-certs
          mountPath: /etc/certs
          readOnly: true
      volumes:
      - name: istio-certs
        secret:
          secretName: istio.istio-mixer-service-account
          optional: true
---
