# pilot service for discovery
apiVersion: v1
kind: Service
metadata:
  name: istio-pilot
  labels:
    infra: pilot
spec:
  ports:
  - port: 8080
    name: http-discovery
  selector:
    infra: pilot
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: istio-pilot-service-account
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: istio-pilot
spec:
  replicas: 1
  template:
    metadata:
      labels:
        infra: pilot
    spec:
      serviceAccountName: istio-pilot-service-account
      containers:
      - name: discovery
        image: {{.Hub}}/pilot:{{.Tag}}
        imagePullPolicy: IfNotPresent
        args: ["discovery", "-v", "{{.Verbosity}}"]
        ports:
        - containerPort: 8080
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
        volumeMounts:
        - name: config-volume
          mountPath: /etc/istio/config
      volumes:
      - name: config-volume
        configMap:
          name: istio
---
