# pilot service for discovery

{{if .DebugPort}}
kind: PersistentVolume
apiVersion: v1
metadata:
  name: debug
  labels:
    type: local
spec:
  storageClassName: manual
  persistentVolumeReclaimPolicy: Delete
  capacity:
    storage: 10Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: "/data/debug"
---
kind: PersistentVolumeClaim
apiVersion: v1
metadata:
  name: pilot-debug-claim
spec:
  storageClassName: manual
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 3Gi
---
{{end}}

apiVersion: v1
kind: Service
metadata:
  name: istio-pilot
  labels:
    infra: pilot
spec:
{{if .DebugPort}}
  type: LoadBalancer
{{end}}
  ports:
  - port: 8080
    name: http-discovery
{{if .DebugPort}}
  - port: {{.DebugPort}}
    name: tcp-debug
{{end}}
{{if .UseAdmissionWebhook}}
  - port: 443
    name: webhook
{{end}}
  selector:
    infra: pilot
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: istio-pilot-service-account
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  annotations:
    policy.sidecar.istio.io: "policy.sidecar.istio.io/force-off"
  name: istio-pilot
spec:
  replicas: 1
  template:
    metadata:
      labels:
        infra: pilot
    spec:
      serviceAccountName: istio-pilot-service-account
      containers:
      - name: discovery
        image: {{.Hub}}/pilot:{{.Tag}}
        imagePullPolicy: IfNotPresent
        args:
        - discovery
        - --v={{.Verbosity}}
        - -a
        - {{.Namespace}}
{{if .UseAdmissionWebhook}}
        - --admission-service={{.AdmissionServiceName}}
{{end}}
        ports:
        - containerPort: 8080
{{if .DebugPort}}
        - containerPort: {{.DebugPort}}
        volumeMounts:
          - mountPath: "/data/debug"
            name: debug
{{end}}
{{if .UseAdmissionWebhook}}
        - containerPort: 443
{{end}}
        env:
        - name: POD_NAME
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.name
        - name: POD_NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
        volumeMounts:
        - name: config-volume
          mountPath: /etc/istio/config
{{if .DebugPort}}
        - mountPath: "/data/debug"
          name: debug
{{end}}
      volumes:
      - name: config-volume
        configMap:
          name: istio
{{if .DebugPort}}
      - name: debug
        persistentVolumeClaim:
          claimName: pilot-debug-claim
{{end}}
---
