type: route-rule
name: content-route
namespace: {{.Namespace}}
spec:
  destination: {{.Destination}}.{{.Namespace}}.svc.cluster.local
  name: content-route
  precedence: 4
  match:
    source: {{.Source}}.{{.Namespace}}.svc.cluster.local
    sourceTags:
      version: v1
    httpHeaders:
      foo:
        regex: "b.*"
  route:
    - tags:
         version: v2
