type: route-rule
name: default-route
namespace: {{.Namespace}}
spec:
  destination: "{{.Destination}}.{{.Namespace}}.svc.cluster.local"
  precedence: 1
  route:
    - tags:
         version: v1
      weight: 75
    - tags:
         version: v2
      weight: 25
