apiVersion: config.istio.io/v1alpha2
kind: RouteRule
metadata:
  name: fault-route-v1alpha2
spec:
  hosts:
    - c.istio-test-app-dsd2m.svc.cluster.local
  http:
    - match:
      - headers:
          version:
            exact: v2
        source_labels:
          version: v1
      route:
      - destination:
          name: c
          subset: v2
        weight: 100
      fault:
        delay:
          percent: 100
          fixedDelay: 2.5s
        abort:
          percent: 100
          httpStatus: 502