type: route-rule
name: redirect-route
namespace: {{.Namespace}}
spec:
  destination: {{.Destination}}.{{.Namespace}}.svc.cluster.local
  name: redirect-route
  precedence: 5
  match:
    httpHeaders:
      testredirect:
        exact: enabled
  redirect:
    uri: {{.Path}}
    authority: {{.HostRedirect}}
