type: route-rule
name: content-route
spec:
  destination:
    name: c
  precedence: 2
  match:
    source:
      name: a
      labels:
        version: v1
    request:
      headers:
        version:
          exact: v2
  route:
    - labels:
         version: v2
