// FAQ page
.faq-container {
  padding-bottom: 150px;

  .submenu-content p,li,ul{
    font-size: 12px;
    font-weight: 400;
  }

  .lead,
  .faq-title {
    color: $titleColor;
  }

  .lead {
    margin: 50px 0 40px 0;
  }

  .faq-title {
    margin: 40px 0 0 0;
  }

  h6 {
    font-size: .95rem;
    letter-spacing: 1px;
  }

  h6.arrow-d,
  h6.arrow-r {
    margin: 30px 0 5px 0;
    color: $black;
  }

  h6.arrow-d {
    color: $black;
  }
}
