################################
# Deploy Citadel as a stand alone service in a cluster
################################
apiVersion: v1
kind: Namespace
metadata:
 name: istio-system
---
kind: ClusterRole
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: istio-citadel-{ISTIO_NAMESPACE}
rules:
- apiGroups: [""]
  resources: ["secrets"]
  verbs: ["create", "get", "watch", "list", "update", "delete"]
- apiGroups: [""]
  resources: ["serviceaccounts"]
  verbs: ["get", "watch", "list"]
- apiGroups: [""]
  resources: ["services"]
  verbs: ["get", "watch", "list"]
---
# Grant permissions to Citadel.
kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1beta1
metadata:
  name: istio-citadel-role-binding-{ISTIO_NAMESPACE}
subjects:
- kind: ServiceAccount
  name: istio-citadel-service-account
  namespace: {ISTIO_NAMESPACE}
roleRef:
  kind: ClusterRole
  name: istio-citadel-{ISTIO_NAMESPACE}
  apiGroup: rbac.authorization.k8s.io
---
# Service account for Citadel
apiVersion: v1
kind: ServiceAccount
metadata:
  name: istio-citadel-service-account
  namespace: {ISTIO_NAMESPACE}
---
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: istio-standalone-citadel
  namespace: {ISTIO_NAMESPACE}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        istio: standalone-citadel
      annotations:
        sidecar.istio.io/inject: "false"
    spec:
      serviceAccountName: istio-citadel-service-account
      containers:
      - name: citadel
        image: {CITADEL_HUB}/citadel:{CITADEL_TAG}
        imagePullPolicy: IfNotPresent
        command: ["/usr/local/bin/istio_ca"]
        args:
          - --citadel-storage-namespace={ISTIO_NAMESPACE}
          - --grpc-port=8060
          - --grpc-host-identities=istio-standalone-citadel
          - --self-signed-ca=true
          - --self-signed-ca-org=test-org
          - --self-signed-ca-cert-ttl=24000h
          - --sign-ca-certs=true # Whether Citadel issues certs for other Citadels.
          - --workload-cert-ttl=21h
          - --logtostderr
          - --stderrthreshold
          - INFO
---
apiVersion: v1
kind: Service
metadata:
  name: standalone-citadel-ilb
  namespace: istio-system
  annotations:
    cloud.google.com/load-balancer-type: "internal"
  labels:
    istio: standalone-citadel
spec:
  type: LoadBalancer
  ports:
  - port: 8060
    protocol: TCP
  selector:
    istio: standalone-citadel
