---
title: adapter.template.kubernetes
layout: protoc-gen-docs
number_of_entries: 1
---
<p>The <code>kubernetes</code> template holds data that controls the production of Kubernetes-specific
attributes.</p>

<p>The <code>kubernetes</code> template represents data used to generate kubernetes-derived attributes.</p>

<p>The values provided controls the manner in which the kubernetesenv adapter discovers and
generates values related to pod information.</p>

<p>Example config:</p>

<pre><code class="language-yaml">apiVersion: &quot;config.istio.io/v1alpha2&quot;
kind: kubernetes
metadata:
  name: attributes
  namespace: istio-system
spec:
  # Pass the required attribute data to the adapter
  source_uid: source.uid | &quot;&quot;
  source_ip: source.ip | ip(&quot;0.0.0.0&quot;) # default to unspecified ip addr
  destination_uid: destination.uid | &quot;&quot;
  destination_ip: destination.ip | ip(&quot;0.0.0.0&quot;) # default to unspecified ip addr
  attribute_bindings:
    # Fill the new attributes from the adapter produced output.
    # $out refers to an instance of OutputTemplate message
    source.ip: $out.source_pod_ip
    source.labels: $out.source_labels
    source.namespace: $out.source_namespace
    source.service: $out.source_service
    source.serviceAccount: $out.source_service_account_name
    destination.ip: $out.destination_pod_ip
    destination.labels: $out.destination_labels
    destination.namespace: $out.destination_mamespace
    destination.service: $out.destination_service
    destination.serviceAccount: $out.destination_service_account_name
</code></pre>

<h2 id="InstanceParam">InstanceParam</h2>
<section>
<p>Represents instance configuration schema for &lsquo;kubernetes&rsquo; template.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="InstanceParam.source_uid">
<td><code>sourceUid</code></td>
<td><code>string</code></td>
<td>
<p>Source pod&rsquo;s uid. Must be of the form: &ldquo;kubernetes://pod.namespace&rdquo;</p>

</td>
</tr>
<tr id="InstanceParam.source_ip">
<td><code>sourceIp</code></td>
<td><code>string</code></td>
<td>
<p>Source pod&rsquo;s ip.</p>

</td>
</tr>
<tr id="InstanceParam.destination_uid">
<td><code>destinationUid</code></td>
<td><code>string</code></td>
<td>
<p>Destination pod&rsquo;s uid. Must be of the form: &ldquo;kubernetes://pod.namespace&rdquo;</p>

</td>
</tr>
<tr id="InstanceParam.destination_ip">
<td><code>destinationIp</code></td>
<td><code>string</code></td>
<td>
<p>Destination pod&rsquo;s ip.</p>

</td>
</tr>
<tr id="InstanceParam.origin_uid">
<td><code>originUid</code></td>
<td><code>string</code></td>
<td>
<p>Origin pod&rsquo;s uid. Must be of the form: &ldquo;kubernetes://pod.namespace&rdquo;</p>

</td>
</tr>
<tr id="InstanceParam.origin_ip">
<td><code>originIp</code></td>
<td><code>string</code></td>
<td>
<p>Origin pod&rsquo;s ip.</p>

</td>
</tr>
<tr id="InstanceParam.attribute_bindings">
<td><code>attributeBindings</code></td>
<td><code>map&lt;string,&nbsp;string&gt;</code></td>
<td>
<p>Attribute names to expression mapping. These expressions can use the fields from the output object
returned by the attribute producing adapters using $out.<fieldName> notation. For example:
source.ip : $out.source<em>pod</em>ip
In the above example, source.ip attribute will be added to the existing attribute list and its value will be set to
the value of source<em>pod</em>ip field of the output returned by the adapter.</p>

</td>
</tr>
</tbody>
</table>
</section>
