apiVersion: "security.istio.io/v1beta1"
kind: "RequestAuthentication"
metadata:
  name: "jwt-simple-for-b"
  namespace: {{ .Namespace }}
spec:
  targets:
  - name: b
  origins:
  - jwt:
      issuer: "test-issuer-1@istio.io"
      jwksUri: "https://raw.githubusercontent.com/istio/istio/master/tests/common/jwt/jwks.json"
  principalBinding: USE_ORIGIN
