# c accepts requests from b but denies requests from a
apiVersion: "security.istio.io/v1beta1"
kind: AuthorizationPolicy
metadata:
  name: policy-c
  namespace: "{{ .Namespace }}"
spec:
  selector:
    matchLabels:
      "app": "c"
  action: ALLOW
  rules:
  - from:
    - source:
        principals: ["cluster.local/ns/{{ .Namespace }}/sa/b"]