[Unit]
Description=istio-auth-node-agent: The Istio auth node agent
Documentation=http://istio.io/

[Service]
ExecStart=/usr/local/istio/bin/node_agent --logtostderr
Restart=always
StartLimitInterval=0
RestartSec=10

[Install]
WantedBy=multi-user.target
