apiVersion: "authentication.istio.io/v1alpha1"
kind: "Policy"
metadata:
  name: "enable-jwt"
spec:
  targets:
  - name: "b"
  origins:
  - jwt:
      issuer: "test-issuer-2@istio.io"
      jwksUri: "https://raw.githubusercontent.com/istio/istio/master/tests/common/jwt/jwks.json"
      trigger_rules:
      - excluded_paths:
        - exact: /health_check
        - exact: /testing-istio-jwt
  - jwt:
      issuer: "test-issuer-1@istio.io"
      jwksUri: "https://raw.githubusercontent.com/istio/istio/master/tests/common/jwt/jwks.json"
      trigger_rules:
      - included_paths:
        - exact: /testing-istio-jwt
  principalBinding: USE_ORIGIN
