apiVersion: "authentication.istio.io/v1alpha1"
kind: "Policy"
metadata:
  name: "wrong-issuer-jwt-policy-for-b"
  namespace: {{ .Namespace }}
spec:
  targets:
  - name: b
  origins:
  - jwt:
      issuer: "barcelona@champions.eu" # Non existing issuer in this test context.
      jwksUri: "https://raw.githubusercontent.com/istio/istio/master/tests/common/jwt/jwks.json"
  principalBinding: USE_ORIGIN
