---
title: authorization
layout: protoc-gen-docs
number_of_entries: 13
---
<p>The <code>authorization</code> template defines parameters for performing policy
enforcement within Istio. It is primarily concerned with enabling Mixer</p>

<p>The <code>authorization</code> template defines parameters for performing policy
enforcement within Istio. It is primarily concerned with enabling Mixer
adapters to make decisions about who is allowed to do what.
In this template, the &ldquo;who&rdquo; is defined in a Subject message. The &ldquo;what&rdquo; is
defined in an Action message. During a Mixer Check call, these values
will be populated based on configuration from request attributes and
passed to individual authorization adapters to adjudicate.</p>

<p>Example config:</p>

<pre><code class="language-yaml">apiVersion: &quot;config.istio.io/v1alpha2&quot;
kind: authorization
metadata:
  name: authinfo
  namespace: istio-system
spec:
 subject:
   user: source.user | request.auth.token[user] | &quot;&quot;
   groups: request.auth.token[groups]
   properties:
    iss: request.auth.token[&quot;iss&quot;]
 action:
   namespace: destination.namespace | &quot;default&quot;
   service: destination.service | &quot;&quot;
   path: request.path | &quot;/&quot;
   method: request.method | &quot;post&quot;
   properties:
     version: destination.labels[version] | &quot;&quot;
</code></pre>

<h2 id="Services">Services</h2>
<h3 id="HandleAuthorizationService">HandleAuthorizationService</h3>
<section>
<p>HandleAuthorizationService is implemented by backends that wants to handle request-time &lsquo;authorization&rsquo; instances.</p>

<pre id="HandleAuthorizationService.HandleAuthorization"><code class="language-proto">rpc HandleAuthorization(HandleAuthorizationRequest) returns (istio.mixer.adapter.model.v1beta1.CheckResult)
</code></pre>
<p>HandleAuthorization is called by Mixer at request-time to deliver &lsquo;authorization&rsquo; instances to the backend.</p>

</section>
<h2 id="Types">Types</h2>
<h3 id="ActionInstanceParam">ActionInstanceParam</h3>
<section>
<p>An action defines &ldquo;how a resource is accessed&rdquo;.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="ActionInstanceParam.namespace">
<td><code>namespace</code></td>
<td><code>string</code></td>
<td>
<p>Namespace the target action is taking place in.</p>

</td>
</tr>
<tr id="ActionInstanceParam.service">
<td><code>service</code></td>
<td><code>string</code></td>
<td>
<p>The Service the action is being taken on.</p>

</td>
</tr>
<tr id="ActionInstanceParam.method">
<td><code>method</code></td>
<td><code>string</code></td>
<td>
<p>What action is being taken.</p>

</td>
</tr>
<tr id="ActionInstanceParam.path">
<td><code>path</code></td>
<td><code>string</code></td>
<td>
<p>HTTP REST path within the service</p>

</td>
</tr>
<tr id="ActionInstanceParam.properties">
<td><code>properties</code></td>
<td><code>map&lt;string,&nbsp;string&gt;</code></td>
<td>
<p>Additional data about the action for use in policy.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h3 id="ActionMsg">ActionMsg</h3>
<section>
<p>An action defines &ldquo;how a resource is accessed&rdquo;.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="ActionMsg.namespace">
<td><code>namespace</code></td>
<td><code>string</code></td>
<td>
<p>Namespace the target action is taking place in.</p>

</td>
</tr>
<tr id="ActionMsg.service">
<td><code>service</code></td>
<td><code>string</code></td>
<td>
<p>The Service the action is being taken on.</p>

</td>
</tr>
<tr id="ActionMsg.method">
<td><code>method</code></td>
<td><code>string</code></td>
<td>
<p>What action is being taken.</p>

</td>
</tr>
<tr id="ActionMsg.path">
<td><code>path</code></td>
<td><code>string</code></td>
<td>
<p>HTTP REST path within the service</p>

</td>
</tr>
<tr id="ActionMsg.properties">
<td><code>properties</code></td>
<td><code>map&lt;string,&nbsp;<a href="#istio.mixer.adapter.model.v1beta1.Value">istio.mixer.adapter.model.v1beta1.Value</a>&gt;</code></td>
<td>
<p>Additional data about the action for use in policy.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h3 id="ActionType">ActionType</h3>
<section>
<p>An action defines &ldquo;how a resource is accessed&rdquo;.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="ActionType.properties">
<td><code>properties</code></td>
<td><code>map&lt;string,&nbsp;<a href="#istio.policy.v1beta1.ValueType">istio.policy.v1beta1.ValueType</a>&gt;</code></td>
<td>
<p>Additional data about the action for use in policy.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h3 id="HandleAuthorizationRequest">HandleAuthorizationRequest</h3>
<section>
<p>Request message for HandleAuthorization method.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="HandleAuthorizationRequest.instance">
<td><code>instance</code></td>
<td><code><a href="#InstanceMsg">InstanceMsg</a></code></td>
<td>
<p>&lsquo;authorization&rsquo; instance.</p>

</td>
</tr>
<tr id="HandleAuthorizationRequest.adapter_config">
<td><code>adapterConfig</code></td>
<td><code><a href="https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#any">google.protobuf.Any</a></code></td>
<td>
<p>Adapter specific handler configuration.</p>

<p>Note: Backends can also implement <em>InfrastructureBackend</em>
service and therefore opt to receive handler configuration during session creation through <em>InfrastructureBackend.CreateSession</em>
call. In that case, adapter<em>config will have type</em>url as &lsquo;google.protobuf.Any.type<em>url&rsquo; and would contain string
value of session</em>id (returned from InfrastructureBackend.CreateSession).</p>

</td>
</tr>
<tr id="HandleAuthorizationRequest.dedup_id">
<td><code>dedupId</code></td>
<td><code>string</code></td>
<td>
<p>Id to dedupe identical requests from Mixer.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h3 id="InstanceMsg">InstanceMsg</h3>
<section>
<p>Contains instance payload for &lsquo;authorization&rsquo; template. This is passed to infrastructure backends during request-time
through HandleAuthorizationService.HandleAuthorization.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="InstanceMsg.name">
<td><code>name</code></td>
<td><code>string</code></td>
<td>
<p>Name of the instance as specified in configuration.</p>

</td>
</tr>
<tr id="InstanceMsg.subject">
<td><code>subject</code></td>
<td><code><a href="#SubjectMsg">SubjectMsg</a></code></td>
<td>
<p>A subject contains a list of attributes that identify
the caller identity.</p>

</td>
</tr>
<tr id="InstanceMsg.action">
<td><code>action</code></td>
<td><code><a href="#ActionMsg">ActionMsg</a></code></td>
<td>
<p>An action defines &ldquo;how a resource is accessed&rdquo;.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h3 id="InstanceParam">InstanceParam</h3>
<section>
<p>Represents instance configuration schema for &lsquo;authorization&rsquo; template.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="InstanceParam.subject">
<td><code>subject</code></td>
<td><code><a href="#SubjectInstanceParam">SubjectInstanceParam</a></code></td>
<td>
<p>A subject contains a list of attributes that identify
the caller identity.</p>

</td>
</tr>
<tr id="InstanceParam.action">
<td><code>action</code></td>
<td><code><a href="#ActionInstanceParam">ActionInstanceParam</a></code></td>
<td>
<p>An action defines &ldquo;how a resource is accessed&rdquo;.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h3 id="SubjectInstanceParam">SubjectInstanceParam</h3>
<section>
<p>A subject contains a list of attributes that identify
the caller identity.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="SubjectInstanceParam.user">
<td><code>user</code></td>
<td><code>string</code></td>
<td>
<p>The user name/ID that the subject represents.</p>

</td>
</tr>
<tr id="SubjectInstanceParam.groups">
<td><code>groups</code></td>
<td><code>string</code></td>
<td>
<p>Groups the subject belongs to depending on the authentication mechanism,
&ldquo;groups&rdquo; are normally populated from JWT claim or client certificate.
The operator can define how it is populated when creating an instance of
the template.</p>

</td>
</tr>
<tr id="SubjectInstanceParam.properties">
<td><code>properties</code></td>
<td><code>map&lt;string,&nbsp;string&gt;</code></td>
<td>
<p>Additional attributes about the subject.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h3 id="SubjectMsg">SubjectMsg</h3>
<section>
<p>A subject contains a list of attributes that identify
the caller identity.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="SubjectMsg.user">
<td><code>user</code></td>
<td><code>string</code></td>
<td>
<p>The user name/ID that the subject represents.</p>

</td>
</tr>
<tr id="SubjectMsg.groups">
<td><code>groups</code></td>
<td><code>string</code></td>
<td>
<p>Groups the subject belongs to depending on the authentication mechanism,
&ldquo;groups&rdquo; are normally populated from JWT claim or client certificate.
The operator can define how it is populated when creating an instance of
the template.</p>

</td>
</tr>
<tr id="SubjectMsg.properties">
<td><code>properties</code></td>
<td><code>map&lt;string,&nbsp;<a href="#istio.mixer.adapter.model.v1beta1.Value">istio.mixer.adapter.model.v1beta1.Value</a>&gt;</code></td>
<td>
<p>Additional attributes about the subject.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h3 id="SubjectType">SubjectType</h3>
<section>
<p>A subject contains a list of attributes that identify
the caller identity.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="SubjectType.properties">
<td><code>properties</code></td>
<td><code>map&lt;string,&nbsp;<a href="#istio.policy.v1beta1.ValueType">istio.policy.v1beta1.ValueType</a>&gt;</code></td>
<td>
<p>Additional attributes about the subject.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h3 id="Type">Type</h3>
<section>
<p>Contains inferred type information about specific instance of &lsquo;authorization&rsquo; template. This is passed to
infrastructure backends during configuration-time through <em>InfrastructureBackend.CreateSession</em>.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="Type.subject">
<td><code>subject</code></td>
<td><code><a href="#SubjectType">SubjectType</a></code></td>
<td>
<p>A subject contains a list of attributes that identify
the caller identity.</p>

</td>
</tr>
<tr id="Type.action">
<td><code>action</code></td>
<td><code><a href="#ActionType">ActionType</a></code></td>
<td>
<p>An action defines &ldquo;how a resource is accessed&rdquo;.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h3 id="istio.mixer.adapter.model.v1beta1.Value">istio.mixer.adapter.model.v1beta1.Value</h3>
<section>
<p>Value is used inside templates for fields that have dynamic types. The actual datatype
of the field depends on the datatype of the expression used in the operator configuration.</p>

</section>
<h3 id="istio.policy.v1beta1.ValueType">istio.policy.v1beta1.ValueType</h3>
<section>
<p>ValueType describes the types that values in the Istio system can take. These
are used to describe the type of Attributes at run time, describe the type of
the result of evaluating an expression, and to describe the runtime type of
fields of other descriptors.</p>

<table class="enum-values">
<thead>
<tr>
<th>Name</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="istio.policy.v1beta1.ValueType.VALUE_TYPE_UNSPECIFIED">
<td><code>VALUE_TYPE_UNSPECIFIED</code></td>
<td>
<p>Invalid, default value.</p>

</td>
</tr>
<tr id="istio.policy.v1beta1.ValueType.STRING">
<td><code>STRING</code></td>
<td>
<p>An undiscriminated variable-length string.</p>

</td>
</tr>
<tr id="istio.policy.v1beta1.ValueType.INT64">
<td><code>INT64</code></td>
<td>
<p>An undiscriminated 64-bit signed integer.</p>

</td>
</tr>
<tr id="istio.policy.v1beta1.ValueType.DOUBLE">
<td><code>DOUBLE</code></td>
<td>
<p>An undiscriminated 64-bit floating-point value.</p>

</td>
</tr>
<tr id="istio.policy.v1beta1.ValueType.BOOL">
<td><code>BOOL</code></td>
<td>
<p>An undiscriminated boolean value.</p>

</td>
</tr>
<tr id="istio.policy.v1beta1.ValueType.TIMESTAMP">
<td><code>TIMESTAMP</code></td>
<td>
<p>A point in time.</p>

</td>
</tr>
<tr id="istio.policy.v1beta1.ValueType.IP_ADDRESS">
<td><code>IP_ADDRESS</code></td>
<td>
<p>An IP address.</p>

</td>
</tr>
<tr id="istio.policy.v1beta1.ValueType.EMAIL_ADDRESS">
<td><code>EMAIL_ADDRESS</code></td>
<td>
<p>An email address.</p>

</td>
</tr>
<tr id="istio.policy.v1beta1.ValueType.URI">
<td><code>URI</code></td>
<td>
<p>A URI.</p>

</td>
</tr>
<tr id="istio.policy.v1beta1.ValueType.DNS_NAME">
<td><code>DNS_NAME</code></td>
<td>
<p>A DNS name.</p>

</td>
</tr>
<tr id="istio.policy.v1beta1.ValueType.DURATION">
<td><code>DURATION</code></td>
<td>
<p>A span between two points in time.</p>

</td>
</tr>
<tr id="istio.policy.v1beta1.ValueType.STRING_MAP">
<td><code>STRING_MAP</code></td>
<td>
<p>A map string -&gt; string, typically used by headers.</p>

</td>
</tr>
</tbody>
</table>
</section>
