################################
# Citadel single namespace
################################
# This Citadel only issues certs/keys for the namespace it runs in.
# For demo only. Please use istio-citadel.yaml for real-world use cases.
# Service account Citadel runs in.
apiVersion: v1
kind: ServiceAccount
metadata:
  name: istio-citadel-service-account
  namespace: {ISTIO_NAMESPACE}
---
apiVersion: v1
kind: Deployment
apiVersion: extensions/v1beta1
metadata:
  name: istio-citadel
  namespace: {ISTIO_NAMESPACE}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        istio: citadel
      annotations:
        sidecar.istio.io/inject: "false"
    spec:
      serviceAccountName: istio-citadel-service-account
      containers:
      - name: citadel
        image: {CITADEL_HUB}/citadel:{CITADEL_TAG}
        imagePullPolicy: IfNotPresent
        env:
        - name: NAMESPACE
          valueFrom:
            fieldRef:
              apiVersion: v1
              fieldPath: metadata.namespace
---
