################################
# Istio-system namespace template: run updateVersions.sh after editing this file
################################
apiVersion: v1
kind: Namespace
metadata:
  name: {ISTIO_NAMESPACE}
---
