# Test service without the proxy
apiVersion: v1
kind: Service
metadata:
  name: {{.Service}}
  labels:
    app: {{.Service}}
spec:
  ports:
  - port: 8080
    targetPort: {{.HTTPPort}}
    name: http-two
  - port: 7070
    targetPort: {{.GRPCPort}}
    name: tcp
  selector:
    app: {{.Service}}
---
apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: {{.Deployment}}
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: {{.Service}}
        version: {{.Version}}
    spec:
      containers:
      - name: app
        image: {{.AppImage}}
        imagePullPolicy: Always
        args:
          - --http_ports
          - "{{.HTTPPort}},3333"
          - --grpd_ports
          - "{{.GRPCPort}}"
          - --version
          - "{{.Version}}"
          - --alsologtostderr
        ports:
        - containerPort: {{.HTTPPort}}
        - containerPort: {{.GRPCPort}}
        livenessProbe:
          httpGet:
            path: /healthz
            port: 3333
          initialDelaySeconds: 1
          periodSeconds: 1
---
