type: route-rule
name: productpage-{{.namespace}}
spec:
  destination: productpage.{{.namespace}}.svc.cluster.local
  precedence: 1
  route:
  - tags:
      version: v1
---
type: route-rule
name: reviews-{{.namespace}}
spec:
  destination: reviews.{{.namespace}}.svc.cluster.local
  precedence: 1
  route:
  - tags:
      version: v1
---
type: route-rule
name: ratings-{{.namespace}}
spec:
  destination: ratings.{{.namespace}}.svc.cluster.local
  precedence: 1
  route:
  - tags:
      version: v1
---
type: route-rule
name: details-{{.namespace}}
spec:
  destination: details.{{.namespace}}.svc.cluster.local
  precedence: 1
  route:
  - tags:
      version: v1
