type: route-rule
name: reviews-{{.namespace}}
spec:
  destination: reviews.{{.namespace}}.svc.cluster.local
  precedence: 1
  route:
  - tags:
      version: v1
    weight: 50
  - tags:
      version: v3
    weight: 50
