"APP_CONTAINERS": "test,bonzai",
"CONFIG_NAMESPACE": "default",
"INCLUDE_INBOUND_PORTS": "9080",
"INSTANCE_IPS": "10.52.0.34,fe80::a075:11ff:fe5e:f1cd",
"INTERCEPTION_MODE": "REDIRECT",
"ISTIO_PROXY_SHA": "istio-proxy:47e4559b8e4f0d516c0d17b233d127a3deb3d7ce",
"ISTIO_VERSION": "1.5-dev",
"LABELS": {
    "app": "productpage",
    "pod-template-hash": "84975bc778",
    "version": "v1",
    "service.istio.io/canonical-name": "productpage-v1",
    "service.istio.io/canonical-revision": "version-1"
},
"MESH_ID": "mesh",
"NAME": "productpage-v1-84975bc778-pxz2w",
"NAMESPACE": "default",
"CLUSTER_ID": "client-cluster",
"OWNER": "kubernetes://apis/apps/v1/namespaces/default/deployments/productpage-v1",
"PLATFORM_METADATA": {
    "gcp_gke_cluster_name": "test-cluster",
    "gcp_location": "us-east4-b",
    "gcp_project": "test-project",
    "gcp_project_number": "123"
},
"POD_NAME": "productpage-v1-84975bc778-pxz2w",
"SERVICE_ACCOUNT": "bookinfo-productpage",
"SECURE_STACKDRIVER_ENDPOINT": "localhost:{{.Vars.SDPort }}",
"STACKDRIVER_ROOT_CA_FILE": "{{ .Vars.StackdriverRootCAFile }}",
"STACKDRIVER_TOKEN_FILE": "{{ .Vars.StackdriverTokenFile }}",
"STACKDRIVER_MONITORING_EXPORT_INTERVAL_SECS": "20",
"STACKDRIVER_LOGGING_EXPORT_INTERVAL_SECS": "20",
"STS_PORT": "{{ .Vars.STSPort  }}",
"WORKLOAD_NAME": "productpage-v1",
"app": "productpage",
"istio": "sidecar",
"kubernetes.io/limit-ranger": "LimitRanger plugin set: cpu request for container productpage",
"pod-template-hash": "84975bc778",
"version": "v1"
