"ISTIO_VERSION": "CSM",
"LABELS": {
    "service.istio.io/canonical-name": "ratings",
    "service.istio.io/canonical-revision": "ratings-00001-xyz"
},
"MESH_ID": "projects/23413241234/locations/global/meshes/test-mesh",
"NAME": "ratings",
"NAMESPACE": "test-project",
"PLATFORM_METADATA": {
    "gcp_project": "test-project",
    "gcp_project_number": "23413241234",
    "gcp_location": "us-central1",
    "gcp_cloud_run_service": "ratings",
    "gcp_cloud_run_revision": "ratings-00001-xyz",
    "gcp_cloud_run_configuration": "ratings",
},
"SERVICE_ACCOUNT": "bookinfo-ratings",
"SECURE_STACKDRIVER_ENDPOINT": "localhost:{{.Vars.SDPort }}",
"STACKDRIVER_ROOT_CA_FILE": "{{ .Vars.StackdriverRootCAFile }}",
"STACKDRIVER_TOKEN_FILE": "{{ .Vars.StackdriverTokenFile }}",
"STACKDRIVER_MONITORING_EXPORT_INTERVAL_SECS": "20",
"STACKDRIVER_LOGGING_EXPORT_INTERVAL_SECS": "20",
"STS_PORT": "{{ .Vars.STSPort  }}",
"WORKLOAD_NAME": "ratings",