"CONFIG_NAMESPACE": "default",
"INCLUDE_INBOUND_PORTS": "9080",
"INSTANCE_IPS": "10.52.0.34,fe80::a075:11ff:fe5e:f1cd",
"INTERCEPTION_MODE": "REDIRECT",
"ISTIO_PROXY_SHA": "istio-proxy:47e4559b8e4f0d516c0d17b233d127a3deb3d7ce",
"ISTIO_VERSION": "1.5-dev",
"LABELS": {
    "app": "ratings",
    "version": "v1",
    "service.istio.io/canonical-name": "ratings",
    "service.istio.io/canonical-revision": "version-1"
},
"MESH_ID": "proj-123",
"NAME": "ratings-v1-vm",
"NAMESPACE": "default",
"PLATFORM_METADATA": {
    "gcp_gce_instance_id": "2342123412341234",
    "gcp_gce_instance_created_by": "projects/23412341234/instanceGroupManagers/324234",
    "gcp_location": "us-east4-b",
    "gcp_project": "test-project",
    "gcp_project_number": "23413241234",
},
"SERVICE_ACCOUNT": "bookinfo-ratings",
"SECURE_STACKDRIVER_ENDPOINT": "localhost:{{.Vars.SDPort }}",
"STACKDRIVER_ROOT_CA_FILE": "{{ .Vars.StackdriverRootCAFile }}",
"STACKDRIVER_TOKEN_FILE": "{{ .Vars.StackdriverTokenFile }}",
"STS_PORT": "{{ .Vars.STSPort  }}",
"STACKDRIVER_MONITORING_EXPORT_INTERVAL_SECS": "20",
"STACKDRIVER_LOGGING_EXPORT_INTERVAL_SECS": "20",
"WORKLOAD_NAME": "ratings-v1",