apiVersion: "authentication.istio.io/v1alpha2"
kind: "Policy"
metadata:
  name: "global-enable-mtls"
spec:
  peers:
  - mtls:
---
apiVersion: "authentication.istio.io/v1alpha2"
kind: "Policy"
metadata:
  name: "per-service-disable-mtls"
spec:
  targets:
  - name: "c"
  - name: "d"
    ports:
    - number: 80
