apiVersion: config.istio.io/v1alpha2
kind: RouteRule
metadata:
  name: httpbin-append-headers
spec:
  destination:
    service: "httpbin.org"
  appendHeaders:
    istio-custom-header1: user-defined-value1
    istio-custom-header2: user-defined-value2
