global:
  proxy:
    repository: {PROXY_HUB}/{PROXY_IMAGE}
    tag: {PROXY_TAG}
  sidecarInjector:
    repository: {PILOT_HUB}/sidecar_injector
    tag: {PILOT_TAG}
  mixer:
    repository: {MIXER_HUB}/mixer
    tag: {MIXER_TAG}
  pilot:
    repository: {PILOT_HUB}/pilot
    tag: {PILOT_TAG}
  security:
    repository: {CA_HUB}/istio-ca
    tag: {CA_TAG}
  # Not recommended for user to configure this. Hyperkube image to use when creating custom resources
  hyperkube:
    repository: {HYPERKUBE_HUB}
    tag: {HYPERKUBE_TAG}
  # addons
  grafana:
    repository: {MIXER_HUB}/grafana
    tag: {MIXER_TAG}
  servicegraph:
    repository: {MIXER_HUB}/servicegraph
    tag: {MIXER_TAG}

  # create RBAC resources
  rbacEnabled: true
  # mutual TLS authentication
  securityEnabled: false

#
# ingress configuration
#
serviceAccountName: default
imagePullPolicy: IfNotPresent
resources: {}
# limits:
#  cpu: 100m
#  memory: 128Mi
# requests:
#  cpu: 100m
#  memory: 128Mi
nodeSelector: {}
# istio ingress configuration
service:
  # By default istio ingress uses LoadBalancer type of service
  # to use NodePort, it needs to be enabled and desired port specified
  nodePort:
    enabled: false
    port: 32000

#
# sidecar-injector configuration
#
sidecarInjector:
  enabled: false
  serviceAccountName: default # used only if RBAC is not enabled
  replicaCount: 1
  imagePullPolicy: IfNotPresent
  resources: {}
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi
  nodeSelector: {}

#
# mixer configuration
#
mixer:
  enabled: true
  serviceAccountName: default # used only if RBAC is not enabled
  replicaCount: 1
  imagePullPolicy: IfNotPresent
  resources: {}
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi
  nodeSelector: {}

  prometheusStatsdExporter:
    repository: prom/statsd-exporter
    tag: latest
    imagePullPolicy: IfNotPresent
    resources: {}

#
# pilot configuration
#
pilot:
  enabled: true
  serviceAccountName: default # used only if RBAC is not enabled
  replicaCount: 1
  imagePullPolicy: IfNotPresent
  resources: {}
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi
  nodeSelector: {}

#
# security configuration
#
security:
  serviceAccountName: default # used only if RBAC is not enabled
  replicaCount: 1
  imagePullPolicy: IfNotPresent
  resources: {}
  # limits:
  #  cpu: 100m
  #  memory: 128Mi
  # requests:
  #  cpu: 100m
  #  memory: 128Mi
  nodeSelector: {}

#
# addons configuration
#
grafana:
  enabled: false
  replicaCount: 1
  imagePullPolicy: IfNotPresent
  service:
    name: http
    type: ClusterIP
    externalPort: 9000
    internalPort: 9000
  ingress:
    enabled: false
    # Used to create an Ingress record.
    hosts:
      - grafana.local
    annotations:
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    tls:
      # Secrets must be manually created in the namespace.
      # - secretName: grafana-tls
      #   hosts:
      #     - grafana.local
  resources: {}
    # limits:
    #  cpu: 100m
    #  memory: 128Mi
    # requests:
    #  cpu: 100m
    #  memory: 128Mi
  nodeSelector: {}

prometheus:
  enabled: false
  replicaCount: 1
  image:
    repository: docker.io/prom/prometheus
    tag: latest
    pullPolicy: IfNotPresent
  service:
    name: web
    type: ClusterIP
    externalPort: 9090
    internalPort: 9090
  ingress:
    enabled: false
    # Used to create an Ingress record.
    hosts:
      - prometheus.local
    annotations:
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    tls:
      # Secrets must be manually created in the namespace.
      # - secretName: prometheus-tls
      #   hosts:
      #     - prometheus.local
  resources: {}
    # limits:
    #  cpu: 100m
    #  memory: 128Mi
    # requests:
    #  cpu: 100m
    #  memory: 128Mi
  nodeSelector: {}

servicegraph:
  enabled: false
  replicaCount: 1
  imagePullPolicy: IfNotPresent
  service:
    name: http
    type: ClusterIP
    externalPort: 8088
    internalPort: 8088
  ingress:
    enabled: false
    # Used to create an Ingress record.
    hosts:
      - servicegraph.local
    annotations:
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    tls:
      # Secrets must be manually created in the namespace.
      # - secretName: servicegraph-tls
      #   hosts:
      #     - servicegraph.local
  resources: {}
    # limits:
    #  cpu: 100m
    #  memory: 128Mi
    # requests:
    #  cpu: 100m
    #  memory: 128Mi
  nodeSelector: {}
  # prometheus addres
  prometheusAddr: http://prometheus:9090

zipkin:
  enabled: false
  replicaCount: 1
  image:
    repository: docker.io/openzipkin/zipkin
    tag: latest
    pullPolicy: IfNotPresent
  service:
    name: http
    type: ClusterIP
    externalPort: 9411
    internalPort: 9411
  ingress:
    enabled: false
    # Used to create an Ingress record.
    hosts:
      - zipkin.local
    annotations:
      # kubernetes.io/ingress.class: nginx
      # kubernetes.io/tls-acme: "true"
    tls:
      # Secrets must be manually created in the namespace.
      # - secretName: zipkin-tls
      #   hosts:
      #     - zipkin.local
  resources: {}
    # limits:
    #  cpu: 100m
    #  memory: 128Mi
    # requests:
    #  cpu: 100m
    #  memory: 128Mi
  nodeSelector: {}
