apiVersion: v1
kind: ConfigMap
metadata:
  name: stackdriver-bootstrap-config
  namespace: {{ .EchoNamespace }}
data:
  custom_bootstrap.json: |
    {
      "node": {
        "metadata": {
          "STACKDRIVER_MONITORING_EXPORT_INTERVAL_SECS": "10",
          "MESH_ID": "proj-test-mesh",
        }
      }
    }
