{
    "http_request": {
        "request_method": "POST",
        "request_url": "http://srv.{{ .EchoNamespace }}.svc.cluster.local:7070/proto.EchoTestService/Echo",
        "protocol": "grpc",
        "status": "200"
    },
    "labels": {
        "destination_app": "srv",
        "destination_canonical_revision": "v1",
        "destination_canonical_service": "srv",
        "destination_namespace": "{{ .EchoNamespace }}",
        "destination_principal": "spiffe://cluster.local/ns/{{ .EchoNamespace }}/sa/default",
        "destination_service_host": "srv.{{ .EchoNamespace }}.svc.cluster.local",
        "destination_version": "v1",
        "destination_workload": "srv-v1",
        "mesh_uid": "test-mesh",
        "response_flag": "-",
        "service_authentication_policy": "MUTUAL_TLS",
        "source_app": "clt",
        "source_canonical_revision": "v1",
        "source_canonical_service": "clt",
        "source_namespace": "{{ .EchoNamespace }}",
        "source_principal": "spiffe://cluster.local/ns/{{ .EchoNamespace }}/sa/default",
        "source_version": "v1",
        "source_workload": "clt-v1",
        "protocol": "grpc",
        "log_sampled": "true",
        "upstream_cluster": "inbound|7070|grpc|srv.{{ .EchoNamespace }}.svc.cluster.local",
        "route_name": "default",
        "requested_server_name": "outbound_.7070_._.srv.{{ .EchoNamespace }}.svc.cluster.local",
        "x-envoy-original-dst-host": "",
        "x-envoy-original-path": ""
    }
}
