{
    "source": {
        "owner_uid": "kubernetes://apis/apps/v1/namespaces/{{ .EchoNamespace }}/deployments/clt-v1",
        "workload_name": "clt-v1",
        "workload_namespace": "{{ .EchoNamespace }}",
        "canonical_service": "clt",
        "canonical_revision": "v1"
    },
    "destination": {
        "owner_uid": "kubernetes://apis/apps/v1/namespaces/{{ .EchoNamespace }}/deployments/srv-v1",
        "workload_name": "srv-v1",
        "workload_namespace": "{{ .EchoNamespace }}",
        "canonical_service": "srv",
        "canonical_revision": "v1"
    },
    "protocol": "PROTOCOL_GRPC",
    "destination_service_name": "srv",
    "destination_service_namespace": "{{ .EchoNamespace }}"
}
