# Enable istio RBAC

apiVersion: "rbac.istio.io/v1alpha1"
kind: ClusterRbacConfig
metadata:
  name: default
spec:
  mode: 'ON_WITH_INCLUSION'
  inclusion:
    namespaces: ["{{ .Namespace }}"]
---

# For service a:
# * Allow GET requests at path with prefix "/public".
# * Deny any other requests by default.

apiVersion: "rbac.istio.io/v1alpha1"
kind: ServiceRole
metadata:
  name: viewer
spec:
  rules:
  - services: ["a.{{ .Namespace }}.svc.cluster.local"]
    methods: ["GET"]
    paths: ["/public*"]
---
apiVersion: "rbac.istio.io/v1alpha1"
kind: ServiceRoleBinding
metadata:
  name: viewer-binding
spec:
  subjects:
  - user: "*"
  roleRef:
    kind: ServiceRole
    name: "viewer"
---
