---
title: apikey
layout: protoc-gen-docs
number_of_entries: 6
---
<p>The <code>apikey</code> template represents a single API key, which is used for authorization checks.</p>

<p>The <code>apikey</code> template represents a single API key, used to authorize API calls.</p>

<p>Sample config:</p>

<pre><code class="language-yaml">apiVersion: &quot;config.istio.io/v1alpha2&quot;
kind: apikey
metadata:
  name: validate-apikey
  namespace: istio-system
spec:
  api: api.service | &quot;&quot;
  api_version: api.version | &quot;&quot;
  api_operation: api.operation | &quot;&quot;
  api_key: api.key | &quot;&quot;
  timestamp: request.time
</code></pre>

<h2 id="Services">Services</h2>
<h3 id="HandleApiKeyService">HandleApiKeyService</h3>
<section>
<p>HandleApiKeyService is implemented by backends that wants to handle request-time &lsquo;apikey&rsquo; instances.</p>

<pre id="HandleApiKeyService.HandleApiKey"><code class="language-proto">rpc HandleApiKey(HandleApiKeyRequest) returns (istio.mixer.adapter.model.v1beta1.CheckResult)
</code></pre>
<p>HandleApiKey is called by Mixer at request-time to deliver &lsquo;apikey&rsquo; instances to the backend.</p>

</section>
<h2 id="Types">Types</h2>
<h3 id="HandleApiKeyRequest">HandleApiKeyRequest</h3>
<section>
<p>Request message for HandleApiKey method.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="HandleApiKeyRequest.instance">
<td><code>instance</code></td>
<td><code><a href="#InstanceMsg">InstanceMsg</a></code></td>
<td>
<p>&lsquo;apikey&rsquo; instance.</p>

</td>
</tr>
<tr id="HandleApiKeyRequest.adapter_config">
<td><code>adapterConfig</code></td>
<td><code><a href="https://developers.google.com/protocol-buffers/docs/reference/google.protobuf#any">google.protobuf.Any</a></code></td>
<td>
<p>Adapter specific handler configuration.</p>

<p>Note: Backends can also implement <em>InfrastructureBackend</em>
service and therefore opt to receive handler configuration during session creation through <em>InfrastructureBackend.CreateSession</em>
call. In that case, adapter<em>config will have type</em>url as &lsquo;google.protobuf.Any.type<em>url&rsquo; and would contain string
value of session</em>id (returned from InfrastructureBackend.CreateSession).</p>

</td>
</tr>
<tr id="HandleApiKeyRequest.dedup_id">
<td><code>dedupId</code></td>
<td><code>string</code></td>
<td>
<p>Id to dedupe identical requests from Mixer.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h3 id="InstanceMsg">InstanceMsg</h3>
<section>
<p>Contains instance payload for &lsquo;apikey&rsquo; template. This is passed to infrastructure backends during request-time
through HandleApiKeyService.HandleApiKey.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="InstanceMsg.name">
<td><code>name</code></td>
<td><code>string</code></td>
<td>
<p>Name of the instance as specified in configuration.</p>

</td>
</tr>
<tr id="InstanceMsg.api">
<td><code>api</code></td>
<td><code>string</code></td>
<td>
<p>The API being called (api.service).</p>

</td>
</tr>
<tr id="InstanceMsg.api_version">
<td><code>apiVersion</code></td>
<td><code>string</code></td>
<td>
<p>The version of the API (api.version).</p>

</td>
</tr>
<tr id="InstanceMsg.api_operation">
<td><code>apiOperation</code></td>
<td><code>string</code></td>
<td>
<p>The API operation is being called.</p>

</td>
</tr>
<tr id="InstanceMsg.api_key">
<td><code>apiKey</code></td>
<td><code>string</code></td>
<td>
<p>API key used in API call.</p>

</td>
</tr>
<tr id="InstanceMsg.timestamp">
<td><code>timestamp</code></td>
<td><code><a href="#istio.mixer.adapter.model.v1beta1.TimeStamp">istio.mixer.adapter.model.v1beta1.TimeStamp</a></code></td>
<td>
<p>Timestamp of API call.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h3 id="InstanceParam">InstanceParam</h3>
<section>
<p>Represents instance configuration schema for &lsquo;apikey&rsquo; template.</p>

<table class="message-fields">
<thead>
<tr>
<th>Field</th>
<th>Type</th>
<th>Description</th>
</tr>
</thead>
<tbody>
<tr id="InstanceParam.api">
<td><code>api</code></td>
<td><code>string</code></td>
<td>
<p>The API being called (api.service).</p>

</td>
</tr>
<tr id="InstanceParam.api_version">
<td><code>apiVersion</code></td>
<td><code>string</code></td>
<td>
<p>The version of the API (api.version).</p>

</td>
</tr>
<tr id="InstanceParam.api_operation">
<td><code>apiOperation</code></td>
<td><code>string</code></td>
<td>
<p>The API operation is being called.</p>

</td>
</tr>
<tr id="InstanceParam.api_key">
<td><code>apiKey</code></td>
<td><code>string</code></td>
<td>
<p>API key used in API call.</p>

</td>
</tr>
<tr id="InstanceParam.timestamp">
<td><code>timestamp</code></td>
<td><code>string</code></td>
<td>
<p>Timestamp of API call.</p>

</td>
</tr>
</tbody>
</table>
</section>
<h3 id="Type">Type</h3>
<section>
<p>Contains inferred type information about specific instance of &lsquo;apikey&rsquo; template. This is passed to
infrastructure backends during configuration-time through <em>InfrastructureBackend.CreateSession</em>.</p>

</section>
<h3 id="istio.mixer.adapter.model.v1beta1.TimeStamp">istio.mixer.adapter.model.v1beta1.TimeStamp</h3>
<section>
<p>TimeStamp is used inside templates for fields that are of ValueType &ldquo;TIMESTAMP&rdquo;</p>

</section>
