apiVersion: networking.istio.io/v1alpha3
kind: DestinationRule
metadata:
  name: f-dr-mtls
spec:
  host: f
  trafficPolicy:
    tls:
      mode: ISTIO_MUTUAL
    portLevelSettings:
    - port:
        number: 8080
      tls:
        mode: DISABLE
