- name: envoy.filters.http.wasm
  typed_config:
    "@type": type.googleapis.com/udpa.type.v1.TypedStruct
    type_url: envoy.extensions.filters.http.wasm.v3.Wasm
    value:
      config:
        vm_config:
          runtime: "envoy.wasm.runtime.null"
          code:
            local: { inline_string: "envoy.wasm.access_log_policy" }
        configuration:
          "@type": "type.googleapis.com/google.protobuf.StringValue"
          value: |
            { log_window_duration: "{{ .Vars.LogWindowDuration }}" }
