# istio-rbac-rules.yaml to enforce access control for both http and tcp services

# For service a, allow non-exist-user and non-exist-namespace to access it.
# This will also result a default tcp rule for service a that denies all access.
# This actually means nobody could access a.
apiVersion: "rbac.istio.io/v1alpha1"
kind: ServiceRole
metadata:
  name: access-a-http
spec:
  rules:
  - services: ["*"]
    methods: ["GET"]
    constraints:
    - key: "destination.labels[app]"
      values: ["a"]
---
apiVersion: "rbac.istio.io/v1alpha1"
kind: ServiceRoleBinding
metadata:
  name: bind-access-a-http
spec:
  subjects:
  - user: "non-exist-user"
  - properties:
      source.namespace: "non-exist-namespace"
  roleRef:
    kind: ServiceRole
    name: "access-a-http"
---

# For service b, allow any user to access it with GET at any paths or at tcp port 90 and 9090.
apiVersion: "rbac.istio.io/v1alpha1"
kind: ServiceRole
metadata:
  name: access-b-http-tcp
spec:
  rules:
  - services: ["b.{{ .Namespace }}.svc.cluster.local"]
    methods: ["GET"]
  - services: ["b.{{ .Namespace }}.svc.cluster.local"]
    constraints:
    - key: "destination.port"
      values: ["90", "9090"]
---
apiVersion: "rbac.istio.io/v1alpha1"
kind: ServiceRoleBinding
metadata:
  name: bind-access-b-http-tcp
spec:
  subjects:
  - user: "*"
  roleRef:
    kind: ServiceRole
    name: "access-b-http-tcp"
---
# For service headless, allow anyone to access it. (Necessary for service b)
apiVersion: "rbac.istio.io/v1alpha1"
kind: ServiceRole
metadata:
  name: access-headless
spec:
  rules:
  - services: ["headless*"]
---
apiVersion: "rbac.istio.io/v1alpha1"
kind: ServiceRoleBinding
metadata:
  name: bind-access-headless
spec:
  subjects:
  - user: "*"
  roleRef:
    kind: ServiceRole
    name: "access-headless"
---

# For service c, allow d to access it with GET at paths: ["/prefix*", "*/suffix", "/good"].
apiVersion: "rbac.istio.io/v1alpha1"
kind: ServiceRole
metadata:
  name: access-c-http
spec:
  rules:
  - services: ["c.{{ .Namespace }}.svc.cluster.local"]
    methods: ["GET"]
    paths: ["/prefix*", "*/suffix", "/good"]
---
apiVersion: "rbac.istio.io/v1alpha1"
kind: ServiceRoleBinding
metadata:
  name: bind-access-c-http
spec:
  subjects:
  - properties:
      source.principal: "*sa/d"
  roleRef:
    kind: ServiceRole
    name: "access-c-http"
---
# For service c, allow d to access it at tcp port 90.
apiVersion: "rbac.istio.io/v1alpha1"
kind: ServiceRole
metadata:
  name: access-c-tcp
spec:
  rules:
  - services: ["c.{{ .Namespace }}.svc.cluster.local"]
    constraints:
    - key: "destination.port"
      values: ["90"]
---
apiVersion: "rbac.istio.io/v1alpha1"
kind: ServiceRoleBinding
metadata:
  name: bind-access-c-tcp
spec:
  subjects:
  - user: "cluster.local/ns/{{ .Namespace }}/sa/d"
  roleRef:
    kind: ServiceRole
    name: "access-c-tcp"
---

# For service d, allow any pod in the same namespace to access it with GET at any paths or access it
# at port 9090.
apiVersion: "rbac.istio.io/v1alpha1"
kind: ServiceRole
metadata:
  name: access-d-http-tcp
spec:
  rules:
  - services: ["d.{{ .Namespace }}.svc.cluster.local"]
    methods: ["GET"]
    constraints:
    - key: "destination.labels[app]"
      values: ["d"]
  - services: ["d.{{ .Namespace }}.svc.cluster.local"]
    constraints:
    - key: "destination.labels[app]"
      values: ["d"]
    - key: "destination.port"
      values: ["9090"]
---
apiVersion: "rbac.istio.io/v1alpha1"
kind: ServiceRoleBinding
metadata:
  name: bind-access-d-http-tcp
spec:
  subjects:
  - properties:
      source.namespace: "{{ .Namespace }}"
  roleRef:
    kind: ServiceRole
    name: "access-d-http-tcp"
---
