{{ define "content" }}

<p>
    The set of command-line arguments used when starting this process.
</p>

<table>
    <thead>
    <tr>
        <th>Index</th>
        <th>Value</th>
    </tr>
    </thead>

    <tbody>
        {{ range $index, $value := . }}
            <tr>
                <td>{{$index}}</td>
                <td>{{$value}}</td>
            </tr>
        {{ end }}
    </tbody>
</table>

<br>
<button class="btn btn-istio" onclick="configreload()">Force config reload</button>

{{ template "last-refresh" .}}

<script>
    "use strict"

    function configreload() {
        var url = window.location.protocol + "//" + window.location.host + "/argj/reloadconfig";

        var ajax = new XMLHttpRequest();
        ajax.onload = onload;
        ajax.onerror = onerror;
        ajax.open("PUT", url, true);
        ajax.send();

        function onload() {
            console.log(url + " -> " + ajax.status)
        }

        function onerror(e) {
            console.error(e);
        }
    }
</script>

{{ end }}
